// Azubu Azubu Overlay

.vjs-azubu-overlay-button {
  margin: 5px 0 0 5px !important;
  width: 55px;
  height: 55px;
  background-size: 50px 50px !important;
  float: left;
}

.vjs-azubu-overlay-message{
  float: right;
  width: 225px!important;
  margin: 0 20px 0 0 !important;
  text-align: right;
  text-transform: uppercase !important;
  font-family: "Exo 2",sans-serif;
  font-size: 16px !important;
  text-shadow: 1px 1px 2px #000;
  line-height: 20px !important;
  overflow:hidden !important;
}

.vjs-azubu-overlay{
  height: 100% !important;
  width: 100% !important;
  background-size: 75% auto !important;
  position: relative;
}

