// Azubu Azubu Overlay

.vjs-azubu-player-overlay-hotspot-button {
  position: absolute;
  background-size: 100% !important;
  background-repeat: no-repeat !important;
  z-index: 888;
  cursor: pointer;
}
