// Azubu Razer Gear Overlay

.vjs-azubu-razer-gear-overlay-button {
  margin: 3px 0px 0 10px !important;
  width: 55px;
  height: 55px;
  background-repeat: no-repeat !important;
  background-size: 50px 50px !important;
  float: left;
}

.vjs-azubu-razer-gear-overlay-message{
  float: right;
  width: 281px !important;
  margin: 5px !important;
  padding: 0 0 0 0;
  padding-bottom: 5px !important;
  color: rgb(0,253,0) !important;
  text-align: right;
  text-transform: uppercase !important;
  font-family: "Exo 2",sans-serif;
  font-size: 16px !important;
  text-shadow: 1px 1px 2px #000;
  line-height: 20px !important;
  background: rgba(0,0,0,.9) !important;
  box-shadow: -5px 5px 15px rgba(0,0,0,.8) !important;
  border: 1px solid #00fd00 !important;
}


//Overlay Call Out Message Container Animations RAZER OVERIDES

.vjs-overlays-razergear-button-panel-container {

  width: 360px!important;
  font-weight: 700;
  //background: rgba(0,0,0,.7);
  //box-shadow: -5px 5px 15px rgba(0,0,0,.8);
  position: absolute!important;
  top: 20px;
  right: 0px;
  z-index: 100;
  @include transition(all 0.5s ease-in-out);
  &-toggle {
    animation: razerSlideOutPanel 11s ease-in-out !important;
  }
}

@keyframes razerSlideOutPanel {
  0%    { transform: translateX(290px); }
  20%   { transform: translateX(290px); }
  25%   { transform: translateX(0px); }
  95%   { transform: translateX(0px); }
  100%  { transform: translateX(290px); }
}

.vjs-overlays-razergear-button-panel-offscreen {
  @include translateX(290px);
}

// END Overlay Call Out Message Container Animations RAZER OVERIDES


.vjs-razorgear-gear-content {
  margin: 0 10px;
}

.vjs-razorgear-gear-content table {
  width: 100%;
}

.vjs-razorgear-gear-content .vjs-razorgear-gear-item {
  height: 100%;
  width: 100%;
  border-bottom: 1px solid rgba(0,253,0,.8);
}

.vjs-razorgear-gear-content .vjs-razorgear-gear-item .gear-content-left {
  width: 75px;
  margin-right: 10px;
}

.vjs-razorgear-gear-content .vjs-razorgear-gear-item .gear-content-left img {
  max-width: 75px;
  padding: 15px 0;
}

.vjs-razorgear-gear-content .vjs-razorgear-gear-item:nth-of-type(1) .gear-content-left img, .vjs-razorgear-gear-content .vjs-razorgear-gear-item:nth-of-type(1) .gear-content-right {
  padding-top: 0;
}

.vjs-razorgear-gear-content .vjs-razorgear-gear-item:nth-of-type(1) .gear-content-left img, .vjs-razorgear-gear-content .vjs-razorgear-gear-item:nth-of-type(1) .gear-content-right {
  padding-top: 0;
}

.vjs-razorgear-gear-content .vjs-razorgear-gear-item .gear-content-right {
  vertical-align: top;
  overflow: hidden;
  font-size:.7em;
}

.vjs-razorgear-gear-content .vjs-razorgear-gear-item .gear-content-right  a {
  text-decoration: none
}
