// Azubu Razer Overlay

.vjs-azubu-razer-overlay-button {
  margin: 3px 0px 0 10px !important;
  width: 55px;
  height: 55px;
  background: url(http://players.brightcove.net/3361910549001/videojs-azubu-razer-overlay/src/assets/img/razer-logo.png) no-repeat !important;
  background-size: 50px 50px !important;
  float: left;
}

.vjs-azubu-razer-overlay-message{
  float: right;
  width: 225px!important;
  margin: 0 0 0 10px !important;
  padding: 2px 10px 0 0;
  color: rgb(0,253,0) !important;
  text-align: right;
  text-transform: uppercase !important;
  font-family: "Exo 2",sans-serif;
  font-size: 16px !important;
  text-shadow: 1px 1px 2px #000;
  line-height: 20px !important;
  overflow:hidden !important;
}

.vjs-azubu-razer-overlay{
  height: 100% !important;
  width: 100% !important;
  background-size: 75% auto !important;
  position: relative;
}

