// Azubu Image Overlay Styles
.vjs-azubu-image-overlay-container {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 999;
}

.vjs-azubu-image-overlay{
  position: relative;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat !important;
  background-attachment: fixed;
  background-position: center center;
  cursor:pointer;
}

.vjs-azubu-image-overlay-close-button-container{
  margin-top:25px;
  text-align: center;
}

.vjs-azubu-image-overlay-close-button{
  cursor:pointer;
  color: #fff;
  border: 1px solid #AEAEAE;
  border-radius: 30px;
  background: #605F61;
  font-size: 1.1em;
  font-weight: bold;
  display: inline-block;
  line-height: 0px;
  padding: 10px;
  width:200px;
  text-align: center;
}


.vjs-azubu-image-overlay-close-button {
  content: "X";
}
// END Azubu Image Overlay Styles


//Overlay Call Out Message Container Animations

.vjs-overlays-button-panel-container {

  width: 320px!important;
  font-weight: 700;
  background: rgba(0,0,0,.7);
  box-shadow: -5px 5px 15px rgba(0,0,0,.8);
  position: absolute!important;
  top: 20px;
  right: 0px;
  z-index: 100;
  @include transition(all 0.5s ease-in-out);
  &-toggle {
   animation: slideOutPanel 11s ease-in-out !important;
  }
}

@keyframes slideOutPanel {
  0%    { transform: translateX(250px); }
  20%   { transform: translateX(250px); }
  25%   { transform: translateX(0px); }
  95%   { transform: translateX(0px); }
  100%  { transform: translateX(250px); }
}

.vjs-overlays-hide-container{
  display:none;
}

.vjs-overlays-icon-button {
  opacity: 1 !important;
  cursor: pointer;
  background-repeat: no-repeat !important;
  @include transition(all 0.5s ease-in-out);
}

.vjs-overlays-icon-button-hidden {
  opacity: 0 !important;
  pointer-events: none;
}

.vjs-overlays-button-panel-offscreen {
  @include translateX(250px);
}

// END Overlay Call Out Message Container Animations
