// Big Play Button
.video-js:hover .vjs-big-play-button{
  @include icon('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20120%20120%22%3E%3Cg%20opacity%3D%22.9%22%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20fill%3D%22%2318a7df%22%3E%3Cpath%20d%3D%22M26.121%20109.607C10.347%2098.772%200%2080.608%200%2060.024S10.347%2021.276%2026.121%2010.44v99.167zM116.056%2081.267c-9.335%2027.357-37.956%2042.234-65.849%2038.029%202.725-24.256%2037.927-48.761%2065.849-38.029zM60.285%200c31.472%200%2057.25%2024.368%2059.501%2055.265L34.179%206.002C42.064%202.158%2050.923%200%2060.285%200z%22%2F%3E%3C%2Fg%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20fill%3D%22%23FFF%22%20d%3D%22M80.757%2062.365c2.218-1.282%202.218-3.379%200-4.66l-29.31-16.922c-2.218-1.282-4.036-.232-4.036%202.33l.002%2033.844c0%202.562%201.818%203.612%204.036%202.33l29.308-16.922z%22%2F%3E%3C%2Fsvg%3E');
  @include transition(background 0.5s ease-in-out !important);
}

.video-js .vjs-big-play-button {
  opacity: 1;
  width: 120px !important;
  height: 120px !important;
  @include icon('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20120%20120%22%3E%3Cg%20opacity%3D%22.8%22%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20fill%3D%22%234B4A4B%22%3E%3Cpath%20d%3D%22M26.121%20109.607C10.347%2098.772%200%2080.608%200%2060.024S10.347%2021.276%2026.121%2010.44v99.167zM116.056%2081.267c-9.335%2027.357-37.956%2042.234-65.849%2038.029%202.725-24.256%2037.927-48.761%2065.849-38.029zM60.285%200c31.472%200%2057.25%2024.368%2059.501%2055.265L34.179%206.002C42.064%202.158%2050.923%200%2060.285%200z%22%2F%3E%3C%2Fg%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20fill%3D%22%23FFF%22%20d%3D%22M80.757%2062.365c2.218-1.282%202.218-3.379%200-4.66l-29.31-16.922c-2.218-1.282-4.036-.232-4.036%202.33l.002%2033.844c0%202.562%201.818%203.612%204.036%202.33l29.308-16.922z%22%2F%3E%3C%2Fsvg%3E');
  top:0 !important;
  left:0 !important;
  right:0 !important;
  bottom:0 !important;
  margin:auto !important;
  border: none !important;
  box-shadow: none !important;
  @include transition(background 0.5s ease-in-out !important);
  background-color: transparent !important;
  outline: 0 !important;
  @include border-radius(0 !important);
  z-index: 45;
  position: absolute;
  &:hover {
    @include icon('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22120%22%20height%3D%22120%22%20viewBox%3D%220%200%20120%20120%22%3E%3Cg%20opacity%3D%22.9%22%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20fill%3D%22%2318a7df%22%3E%3Cpath%20d%3D%22M26.121%20109.607C10.347%2098.772%200%2080.608%200%2060.024S10.347%2021.276%2026.121%2010.44v99.167zM116.056%2081.267c-9.335%2027.357-37.956%2042.234-65.849%2038.029%202.725-24.256%2037.927-48.761%2065.849-38.029zM60.285%200c31.472%200%2057.25%2024.368%2059.501%2055.265L34.179%206.002C42.064%202.158%2050.923%200%2060.285%200z%22%2F%3E%3C%2Fg%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20fill%3D%22%23FFF%22%20d%3D%22M80.757%2062.365c2.218-1.282%202.218-3.379%200-4.66l-29.31-16.922c-2.218-1.282-4.036-.232-4.036%202.33l.002%2033.844c0%202.562%201.818%203.612%204.036%202.33l29.308-16.922z%22%2F%3E%3C%2Fsvg%3E');
  }
}

.vjs-has-started.vjs-paused .vjs-big-play-button {
  opacity: 1 !important;
  @include transition(all 0.5s ease-in-out !important);
  display: block;
  pointer-events: auto;
  cursor: pointer !important;
}

.vjs-has-started.vjs-playing .vjs-big-play-button,
.vjs-error .vjs-big-play-button,
.vjs-share-overlay-on .vjs-big-play-button,
.vjs-error-display.vjs-modal-dialog .vjs-big-play-button,
.vjs-controls-disabled .vjs-big-play-button,
.vjs-error .vjs-big-play-button,
.vjs-has-started .vjs-big-play-button,
.vjs-using-native-controls .vjs-big-play-button,
.vjs-seeking.vjs-paused .vjs-big-play-button,
.vjs-waiting .vjs-big-play-button,
.vjs-playing .vjs-big-play-button {
  opacity: 0 !important;
  @include transition(opacity 0.5s ease-in-out !important);
  display: block;
  pointer-events: none;
  cursor: default;
}

.video-js .vjs-big-play-button:focus,
.video-js:hover .vjs-big-play-button {
  outline: 0;
}

.not-hover.vjs-user-active .vjs-big-play-button,
.video-js:active .vjs-big-play-button,
.not-hover.vjs-user-inactive .vjs-big-play-button,
.video-js:hover .vjs-big-play-button {
  background-color: transparent !important;
}

.video-js .vjs-big-play-button:before {
  display: none !important;
}
