// Azubu Media Player base colors
$color-azubu-blue: #18a7df;
$color-azubu-blue-dark: darken($color-azubu-blue, 20%);
$color-black: #000;
$color-off-black: #1d1d1d;
$color-white: #fff;
$color-red: #b41f25;
$color-drk-gray: #333;
$color-med-gray: #666;
$color-lt-gray: #9f9e9e;
$color-off-white: #c4c2c2;
$color-frame-gray: #4b4a4a;

// Settings - Renditions Menu
$menu-label: $color-off-white;
$menu-label-hover: $color-azubu-blue;
$menu-label-inactive: $color-drk-gray;
$menu-label-source: $color-azubu-blue;
$menu-item-background: $color-off-black;
$menu-item-divider: $color-frame-gray;

// AMP Status Tags Colors
$tag-status-live: $color-red;
$tag-status-rebroadcast: $color-red;
$tag-status-video: $color-azubu-blue;
$tag-status-offline: $color-frame-gray;
$tag-status-disconnected: $color-frame-gray;
$tag-status-reconnecting: #f4901e;
$tag-status-reconnected: #1cbd00;
$tag-status-label: $color-white;
