// Main Player Bar
.video-js .vjs-control-bar {
  width: 100%;
  height: 44px;
  background-color: rgba($color-black, .1) !important;
  @include transition(transform .5s ease 0s !important);
  z-index: 10;
}


// Play Button
.vjs-icon-play:before, .video-js .vjs-play-control:before {
  content: ' ';
  background: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2230%22%20height%3D%2230%22%20viewBox%3D%220%200%2030%2030%22%3E%3Cg%20opacity%3D%22.2%22%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20fill%3D%22%23FFF%22%3E%3Cpath%20d%3D%22M6.53%2027.402C2.587%2024.693%200%2020.152%200%2015.006%200%209.86%202.587%205.319%206.53%202.61v24.792zM29.014%2020.317c-2.334%206.839-9.489%2010.559-16.462%209.507.681-6.064%209.481-12.19%2016.462-9.507zM15.071%200c7.868%200%2014.312%206.092%2014.875%2013.816L8.545%201.501C10.516.539%2012.731%200%2015.071%200z%22%2F%3E%3C%2Fg%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20fill%3D%22%23FFF%22%20d%3D%22M20.189%2015.591c.555-.32.555-.845%200-1.165l-7.327-4.231c-.555-.32-1.009-.058-1.009.582v8.461c0%20.64.454.903%201.009.582l7.327-4.229z%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  background-position: center;
  @include transition(all 0.5s ease-in-out !important);
}

.vjs-icon-play:hover:before, .video-js .vjs-play-control:hover:before {
  background: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2230%22%20height%3D%2230%22%20viewBox%3D%220%200%2030%2030%22%3E%3Cg%20opacity%3D%221%22%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20fill%3D%22%2318a7df%22%3E%3Cpath%20d%3D%22M6.53%2027.402C2.587%2024.693%200%2020.152%200%2015.006%200%209.86%202.587%205.319%206.53%202.61v24.792zM29.014%2020.317c-2.334%206.839-9.489%2010.559-16.462%209.507.681-6.064%209.481-12.19%2016.462-9.507zM15.071%200c7.868%200%2014.312%206.092%2014.875%2013.816L8.545%201.501C10.516.539%2012.731%200%2015.071%200z%22%2F%3E%3C%2Fg%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20fill%3D%22%23FFF%22%20d%3D%22M20.189%2015.591c.555-.32.555-.845%200-1.165l-7.327-4.231c-.555-.32-1.009-.058-1.009.582v8.461c0%20.64.454.903%201.009.582l7.327-4.229z%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  background-position: center;
}


// Pause Button
.vjs-icon-pause:before, .video-js .vjs-play-control.vjs-playing:before {
  content: ' ';
  background: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2230%22%20height%3D%2230%22%20viewBox%3D%220%200%2030%2030%22%3E%3Cg%20opacity%3D%22.2%22%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20fill%3D%22%23FFF%22%3E%3Cpath%20d%3D%22M6.53%2027.402C2.587%2024.693%200%2020.152%200%2015.006%200%209.86%202.587%205.319%206.53%202.61v24.792zM29.014%2020.317c-2.334%206.839-9.489%2010.559-16.462%209.507.681-6.064%209.481-12.19%2016.462-9.507zM15.071%200c7.868%200%2014.312%206.092%2014.875%2013.816L8.545%201.501C10.516.539%2012.731%200%2015.071%200z%22%2F%3E%3C%2Fg%3E%3Cpath%20fill%3D%22%23FFF%22%20d%3D%22M10.896%2011.009h3v8h-3zM16.281%2011.009h3v8h-3z%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  background-position: center;
  @include transition(all 0.5s ease-in-out !important);
}

.vjs-icon-pause:hover:before, .video-js .vjs-play-control.vjs-playing:hover:before {
  background: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2230%22%20height%3D%2230%22%20viewBox%3D%220%200%2030%2030%22%3E%3Cg%20opacity%3D%221%22%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20fill%3D%22%2318a7df%22%3E%3Cpath%20d%3D%22M6.53%2027.402C2.587%2024.693%200%2020.152%200%2015.006%200%209.86%202.587%205.319%206.53%202.61v24.792zM29.014%2020.317c-2.334%206.839-9.489%2010.559-16.462%209.507.681-6.064%209.481-12.19%2016.462-9.507zM15.071%200c7.868%200%2014.312%206.092%2014.875%2013.816L8.545%201.501C10.516.539%2012.731%200%2015.071%200z%22%2F%3E%3C%2Fg%3E%3Cpath%20fill%3D%22%23FFF%22%20d%3D%22M10.896%2011.009h3v8h-3zM16.281%2011.009h3v8h-3z%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  background-position: center;
}

.video-js .vjs-play-control {
  margin-left: 10px;
}


/* Flex Spacer between Live/DVR Indicator and Infodock Icon */
.video-js .vjs-spacer {
  order: 2;
}


/* Fullscreen Button */
.video-js .vjs-fullscreen-control {
  width: 56px !important;
  display: flex;
  order: 5;
}

.vjs-icon-fullscreen-enter:before, .video-js .vjs-fullscreen-control:before {
  content: ' ';
  background: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2226%22%20height%3D%2220%22%20viewBox%3D%220%200%2026%2020%22%3E%3Cpath%20fill%3D%22%23666%22%20d%3D%22M24.384%2016.616L20.268%2012.5%2018.5%2014.268l4.116%204.116L21%2020h5v-5M1.616%203.384L5.732%207.5%207.5%205.732%203.384%201.616%205%200H0v5M22.616%201.616L18.5%205.732%2020.268%207.5l4.116-4.116L26%205V0h-5M7.5%2014.268L5.732%2012.5l-4.116%204.116L0%2015v5h5l-1.616-1.616%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  background-position: center;
  @include transition(all 0.5s ease-in-out !important);
}

.vjs-icon-fullscreen-enter:hover:before, .video-js .vjs-fullscreen-control:hover:before {
  background: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2226%22%20height%3D%2220%22%20viewBox%3D%220%200%2026%2020%22%3E%3Cpath%20fill%3D%22%239f9e9e%22%20d%3D%22M24.384%2016.616L20.268%2012.5%2018.5%2014.268l4.116%204.116L21%2020h5v-5M1.616%203.384L5.732%207.5%207.5%205.732%203.384%201.616%205%200H0v5M22.616%201.616L18.5%205.732%2020.268%207.5l4.116-4.116L26%205V0h-5M7.5%2014.268L5.732%2012.5l-4.116%204.116L0%2015v5h5l-1.616-1.616%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  background-position: center;
}

.vjs-icon-fullscreen-enter:active:before, .video-js .vjs-fullscreen-control:active:before {
  background: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2226%22%20height%3D%2220%22%20viewBox%3D%220%200%2026%2020%22%3E%3Cpath%20fill%3D%22%2318a7df%22%20d%3D%22M24.384%2016.616L20.268%2012.5%2018.5%2014.268l4.116%204.116L21%2020h5v-5M1.616%203.384L5.732%207.5%207.5%205.732%203.384%201.616%205%200H0v5M22.616%201.616L18.5%205.732%2020.268%207.5l4.116-4.116L26%205V0h-5M7.5%2014.268L5.732%2012.5l-4.116%204.116L0%2015v5h5l-1.616-1.616%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  background-position: center;
}

.vjs-icon-fullscreen-enter:disabled:before, .video-js .vjs-fullscreen-control:disabled:before {
  background: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2226%22%20height%3D%2220%22%20viewBox%3D%220%200%2026%2020%22%3E%3Cpath%20fill%3D%22%23333%22%20d%3D%22M20.116%2015.884L24.232%2020%2026%2018.232l-4.116-4.116L23.5%2012.5h-5v5M5.884%204.116L1.768%200%200%201.768l4.116%204.116L2.5%207.5h5v-5M21.884%205.884L26%201.768%2024.232%200l-4.116%204.116L18.5%202.5v5h5M0%2018.232L1.768%2020l4.116-4.116L7.5%2017.5v-5h-5l1.616%201.616%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  background-position: center;
}

.vjs-icon-fullscreen-exit:before, .video-js.vjs-fullscreen .vjs-fullscreen-control:before {
  @include icon('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2226%22%20height%3D%2220%22%20viewBox%3D%220%200%2026%2020%22%3E%3Cpath%20fill%3D%22%23666%22%20d%3D%22M20.116%2015.884L24.232%2020%2026%2018.232l-4.116-4.116L23.5%2012.5h-5v5M5.884%204.116L1.768%200%200%201.768l4.116%204.116L2.5%207.5h5v-5M21.884%205.884L26%201.768%2024.232%200l-4.116%204.116L18.5%202.5v5h5M0%2018.232L1.768%2020l4.116-4.116L7.5%2017.5v-5h-5l1.616%201.616%22%2F%3E%3C%2Fsvg%3E');
  @include transition(all 0.5s ease-in-out !important);
}

.vjs-icon-fullscreen-exit:hover:before, .video-js.vjs-fullscreen .vjs-fullscreen-control:hover:before {
  @include icon('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2226%22%20height%3D%2220%22%20viewBox%3D%220%200%2026%2020%22%3E%3Cpath%20fill%3D%22%239f9e9e%22%20d%3D%22M20.116%2015.884L24.232%2020%2026%2018.232l-4.116-4.116L23.5%2012.5h-5v5M5.884%204.116L1.768%200%200%201.768l4.116%204.116L2.5%207.5h5v-5M21.884%205.884L26%201.768%2024.232%200l-4.116%204.116L18.5%202.5v5h5M0%2018.232L1.768%2020l4.116-4.116L7.5%2017.5v-5h-5l1.616%201.616%22%2F%3E%3C%2Fsvg%3E');
}

.vjs-icon-fullscreen-exit:active:before, .video-js.vjs-fullscreen .vjs-fullscreen-control:active:before {
  @include icon('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2226%22%20height%3D%2220%22%20viewBox%3D%220%200%2026%2020%22%3E%3Cpath%20fill%3D%22%2318a7df%22%20d%3D%22M20.116%2015.884L24.232%2020%2026%2018.232l-4.116-4.116L23.5%2012.5h-5v5M5.884%204.116L1.768%200%200%201.768l4.116%204.116L2.5%207.5h5v-5M21.884%205.884L26%201.768%2024.232%200l-4.116%204.116L18.5%202.5v5h5M0%2018.232L1.768%2020l4.116-4.116L7.5%2017.5v-5h-5l1.616%201.616%22%2F%3E%3C%2Fsvg%3E');
}

@media only screen and (max-width: 399px) {
  .video-js .vjs-volume-bar {
    width: 25px !important;
  }
  .vjs-volume-bar.vjs-slider.vjs-slider-horizontal,
  .not-hover.vjs-volume-bar.vjs-slider-horizontal .vjs-lock-showing .vjs-user-active {
    width: 2.5em;
  }
  .video-js .vjs-menu-button-inline,
  .video-js .vjs-menu-button-inline:hover {
    width: 90px !important;
  }
}
