// Infodock Controls
.video-js .vjs-infodock-control, .vjs-icon-infodock {
  width: 50px !important;
  display: flex;
  order: 3;
}

.video-js .vjs-infodock-control, .vjs-icon-infodock:before {
  content: " ";
  margin: 12px 15px;
  width: 20px !important;
  height: 20px !important;
  @include icon("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%3E%3Cpath%20fill%3D%22%23666666%22%20d%3D%22M10%202.021c4.399%200%207.979%203.58%207.979%207.979s-3.58%207.979-7.979%207.979c-4.4%200-7.979-3.58-7.979-7.979S5.6%202.021%2010%202.021m0-1.818C4.589.203.202%204.589.202%2010c0%205.411%204.387%209.797%209.798%209.797%205.411%200%209.797-4.387%209.797-9.797%200-5.411-4.386-9.797-9.797-9.797z%22%2F%3E%3Cpath%20fill%3D%22%23666666%22%20d%3D%22M9.572%204.545h.855c.371%200%20.481.317.481.734v.785c0%20.417-.11.299-.481.299h-.855c-.371%200-.481.118-.481-.299v-.785c-.001-.417.11-.734.481-.734zM11%2015H9V8h2v7z%22%2F%3E%3C%2Fsvg%3E");
  @include transition(all 0.5s ease-in-out !important);
}

.video-js .vjs-infodock-control:hover, .vjs-icon-infodock:hover:before {
  width: 50px;
  height: 44px;
  @include icon("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%3E%3Cpath%20fill%3D%22%239f9e9e%22%20d%3D%22M10%202.021c4.399%200%207.979%203.58%207.979%207.979s-3.58%207.979-7.979%207.979c-4.4%200-7.979-3.58-7.979-7.979S5.6%202.021%2010%202.021m0-1.818C4.589.203.202%204.589.202%2010c0%205.411%204.387%209.797%209.798%209.797%205.411%200%209.797-4.387%209.797-9.797%200-5.411-4.386-9.797-9.797-9.797z%22%2F%3E%3Cpath%20fill%3D%22%239D9C9D%22%20d%3D%22M9.572%204.545h.855c.371%200%20.481.317.481.734v.785c0%20.417-.11.299-.481.299h-.855c-.371%200-.481.118-.481-.299v-.785c-.001-.417.11-.734.481-.734zM11%2015H9V8h2v7z%22%2F%3E%3C%2Fsvg%3E");
  @include transition(all 0.5s ease-in-out !important);
  cursor: pointer;
}

.video-js .vjs-infodock-control:active, .vjs-icon-infodock:active:before {
  width: 50px;
  height: 44px;
  @include icon("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%3E%3Cpath%20fill%3D%22%2318a7df%22%20d%3D%22M10%202.021c4.399%200%207.979%203.58%207.979%207.979s-3.58%207.979-7.979%207.979c-4.4%200-7.979-3.58-7.979-7.979S5.6%202.021%2010%202.021m0-1.818C4.589.203.202%204.589.202%2010c0%205.411%204.387%209.797%209.798%209.797%205.411%200%209.797-4.387%209.797-9.797%200-5.411-4.386-9.797-9.797-9.797z%22%2F%3E%3Cpath%20fill%3D%22%2318a7df%22%20d%3D%22M9.572%204.545h.855c.371%200%20.481.317.481.734v.785c0%20.417-.11.299-.481.299h-.855c-.371%200-.481.118-.481-.299v-.785c-.001-.417.11-.734.481-.734zM11%2015H9V8h2v7z%22%2F%3E%3C%2Fsvg%3E");
  @include transition(all 0.5s ease-in-out !important);
  cursor: pointer;
}


@media only screen and (max-width: 479px) {
  .video-js .vjs-infodock-control, .vjs-icon-infodock:before {
    display: none !important;
  }
}


// User & Stream Details
.vjs-stream-details {
  opacity: 1;
  margin: 0;
  padding: 200px 0 60px 0;
  width: 100%;
  @include gradient(transparent, rgba($color-black, 0.9));
  bottom: 0;
  left: 0;
  position: absolute;
  @include transition(all .5s ease-in-out);
  pointer-events: none;
}

.vjs-infodock-content {
  opacity: 1;
  @include transition(opacity 1s ease-in-out);
}

.video-js:hover .vjs-stream-details {
  @include transition(all .5s ease-in-out);
}

.not-hover.vjs-has-started.vjs-playing.vjs-user-active.vjs-fullscreen .vjs-stream-details,
.not-hover.vjs-has-started.vjs-paused.vjs-user-active.vjs-fullscreen .vjs-stream-details,
.not-hover.vjs-has-started.vjs-playing.vjs-user-active .vjs-stream-details,
.not-hover.vjs-has-started.vjs-paused.vjs-user-active .vjs-stream-details {
  opacity: 0;
  @include translateY(10em);
  @include transition-delay(3s !important);
}

.vjs-user-inactive .vjs-stream-details {
  opacity: 0;
  @include translateY(5em);
  @include transition-delay(0s !important);
}

.vjs-broadcaster-image-container {
  margin: -10px 15px 0 20px;
  padding: 0;
  width: 68px;
  height: 68px;
  @include border-radius(50%);
  overflow: hidden;
  text-align: center;
  float: left;
}

.vjs-broadcaster-image img {
  margin: 0 -50%;
  padding: 0;
  max-height: 68px;
}

.vjs-name-game-container {
  margin: 0;
  padding: 0;
  height: 68px;
}

.vjs-broadcaster-screenname {
  margin: 0;
  padding: 0;
  font-size: 24px !important;
  font-family: $exo2;
  font-weight: 700;
  color: $color-white !important;
  text-transform: capitalize;
  pointer-events: auto;
  text-decoration: none;
  text-decoration-style: -moz-none;
}

.vjs-game-name-label-container {
  margin: 5px 0 0 0;
  padding: 0;
  font-size: 16px !important;
  font-family: $exo2;
  font-weight: 400;
}
.vjs-game-label {
  margin: 0 5px 0 0;
  padding: 0;
  color: $color-lt-gray !important;
  float: left;
}

.vjs-game-title {
  margin: 0;
  padding: 0;
  color: $color-azubu-blue !important;
  float: left;
  pointer-events: auto;
  text-decoration: none;
  text-decoration-style: -moz-none;
}

.vjs-stream-title {
  margin: 0 20px;
  font-size: 18px !important;
  font-family: $exo2;
  font-weight: 300;
  color: $color-white !important;
}

.vjs-controls-disabled .vjs-stream-details,
.vjs-error .vjs-stream-details,
.vjs-using-native-controls .vjs-stream-details {
  display: none !important;
}

@media only screen and (min-width: 400px) and (max-width: 499px) {
  .vjs-broadcaster-image-container {
    margin: -5px 10px 0 10px !important;
    width: 54px;
    height: 54px;
    @include border-radius(50%);
  }
  .vjs-name-game-container {
    height: 54px;
    margin: 0 0 0 7px;
  }
  .vjs-broadcaster-screenname {
    font-size: 19px !important
  }
  .vjs-broadcaster-image img {
    width: 54px;
    height: 54px;
  }
  .vjs-game-name-label-container {
    font-size: 13px !important;
  }
  .vjs-stream-title {
    margin: 0 17px;
    font-size: 14px !important;
  }
}

@media only screen and (max-width: 399px) {
  .vjs-broadcaster-image-container {
    margin: -7px 7px 0 14px !important;
    width: 43px;
    height: 43px;
    @include border-radius(50%);
  }
  .vjs-broadcaster-image img {
    width: 43px;
    height: 43px;
  }
  .vjs-name-game-container {
    height: 43px;
    margin: 0 7px 0 10px;
  }
  .vjs-broadcaster-screenname {
    font-size: 15px !important;
    margin: 12px 0 5px 0;
  }
  .vjs-game-name-label-container {
    font-size: 10px !important;
  }
  .vjs-stream-title {
    font-size: 11px !important;
  }
}
