// Live-DVR Status Indicator

.vjs-live-status-control {
  margin: 10px 0 0 15px !important;
  order: 1;
}

.vjs-live-status {
  padding: 2px 7px 4px;
  border: 1px solid !important;
  font-family: $exo2 !important;
  font-weight: 600 !important;
  font-size: 16px !important;
  text-transform: uppercase !important;
  background-color: transparent !important;
  text-align: center;
  @include box-sizing(border-box);
  &-live {
    color: $color-red !important;
    pointer-events: none;
  }
  &-dvr {
    color: $color-frame-gray !important;
    @include transition(all 0.5s ease-in-out !important);
    &:hover {
      color: $color-off-white !important;
      cursor: pointer;
    }
  }
}
