// Loading Spinner
.vjs-loading-spinner {
  opacity: 1 !important;
  border: none !important;
  border-radius: 8px;
  margin: 0 !important;
  padding: 32px;
  background: rgba($color-black, 0.7);
  z-index: 100;
  width: initial !important;
  height: initial !important;
  box-sizing: content-box !important;
  @include transition(opacity 0.5s ease-in-out !important);
  @include translate(-50%, -50%);
  float: left;
  &::before,
  &::after{
    display: none;
  }
}

.vjs-loading-spinner-icon {
  opacity: 1 !important;
  border-radius: none;
  width: 65px;
  height: 65px;
  float: left;
  @include icon('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2064.993%2064.996%22%3E%3Cpath%20fill%3D%22%2306465E%22%20d%3D%22M32.497%207.002c14.059%200%2025.497%2011.438%2025.497%2025.497S46.556%2057.995%2032.497%2057.995%207%2046.557%207%2032.498%2018.438%207.002%2032.497%207.002m0-7C14.549.002%200%2014.551%200%2032.498s14.549%2032.497%2032.497%2032.497%2032.497-14.549%2032.497-32.497S50.444.002%2032.497.002z%22%2F%3E%3Cpath%20fill%3D%22%2318A7DF%22%20d%3D%22M56.395%2023.615c3.351%209.057%201.401%2019.648-5.863%2026.913-9.942%209.942-26.12%209.942-36.062%200s-9.942-26.12%200-36.062c6.25-6.25%2014.964-8.568%2023.044-6.96L38.893.633c-10.296-2.056-21.394.902-29.374%208.882-12.692%2012.692-12.692%2033.27%200%2045.962s33.27%2012.692%2045.962%200c9.276-9.276%2011.764-22.761%207.482-34.304l-6.568%202.442z%22%2F%3E%3C%2Fsvg%3E');
  @include animate(spin 1s linear infinite);
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.vjs-error .vjs-loading-spinner {
  display: none !important;
}

.vjs-seeking .vjs-loading-spinner,
.vjs-waiting .vjs-loading-spinner {
  display: block
}

.vjs-buffering-message {
  display: none;
  margin: 17px 0 0 20px;
  padding: 0;
  font-size: 24px !important;
  font-family: $exo2;
  font-weight: 300;
  color: $color-white;
  float: right;
}
.vjs-seeking .vjs-buffering-message {
  display: none;
}

@media only screen and (min-width: 400px) and (max-width: 599px) {
  .vjs-loading-spinner {
    padding: 22px;
  }
  .vjs-loading-spinner-icon {
    width: 45px;
    height: 45px;
  }
  .vjs-buffering-message {
    margin: 13px 0 0 15px;
    padding: 0;
    font-size: 16px !important;
  }
}
@media only screen and (max-width: 399px) {
  .vjs-loading-spinner {
    padding: 15px;
  }
  .vjs-loading-spinner-icon {
    width: 35px;
    height: 35px;
  }
  .vjs-buffering-message {
    margin: 10px 0 0 15px;
    padding: 0;
    font-size: 14px !important;
  }
}
