// Misc

.video-js .vjs-tech {
  background: $color-black;
}

.vjs-poster {
  z-index: 40 !important;
}

.video-js .vjs-captions-button,
.video-js .vjs-live-control,
.video-js .vjs-caption-settings,
.video-js .vjs-dock-text,
.video-js .vjs-dock-shelf {
  display: none !important;
}

.vjs-live .vjs-progress-control {
  display: flex;
}

input,
textarea,
select,
button {
  outline: 0;
}

a:-webkit-any-link {
  text-decoration: none;
}

.video-js .vjs-control:focus,
.video-js .vjs-control:focus:before,
.video-js .vjs-control:hover:before {
  text-shadow: none !important;
}

:focus {
  outline-color: $color-black;
  outline-width: 0;
  outline-style: solid;
}
