// Transitions - Animations
@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

@mixin transition-delay($delay...) {
  -moz-transition-delay: $delay;
  -o-transition-delay: $delay;
  -webkit-transition-delay: $delay;
  transition-delay: $delay;
}

@mixin translateX($transX...) {
  -webkit-transform: translateX($transX) !important;
  -moz-transform: translateX($transX) !important;
  -ms-transform: translateX($transX) !important;
  -o-transform: translateX($transX) !important;
  transform: translateX($transX) !important;
}

@mixin translateY($transY...) {
  -webkit-transform: translateY($transY) !important;
  -moz-transform: translateY($transY) !important;
  -ms-transform: translateY($transY) !important;
  -o-transform: translateY($transY) !important;
  transform: translateY($transY) !important;
}

@mixin translate($horz-dist, $vert-dist) {
  -webkit-transform: translate($horz-dist, $vert-dist);
  -moz-transform: translate($horz-dist, $vert-dist);
  -ms-transform: translate($horz-dist, $vert-dist);
  -o-transform: translate($horz-dist, $vert-dist);
  transform: translate($horz-dist, $vert-dist);
}

@mixin animate($animate...) {
  -webkit-animation: $animate;
  -moz-animation: $animate;
  animation: $animate;
}

@mixin animation($animate...) {
  $max: length($animate);
  $animations: '';

  @for $i from 1 through $max {
    $animations: #{$animations + nth($animate, $i)};

    @if $i < $max {
      $animations: #{$animations + ", "};
    }
  }
  -webkit-animation: $animations;
  -moz-animation:    $animations;
  -o-animation:      $animations;
  animation:         $animations;
}

@mixin keyframes($animationName) {
  @-webkit-keyframes #{$animationName} {
    @content;
  }
  @-moz-keyframes #{$animationName} {
    @content;
  }
  @-o-keyframes #{$animationName} {
    @content;
  }
  @keyframes #{$animationName} {
    @content;
  }
}


@mixin gradient($from-color, $to-color) {
  background-color: mix($from-color, $to-color); /* Fallback */
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from($from-color), to($to-color));
  background: -webkit-linear-gradient(top, $from-color, $to-color);
  background: -moz-linear-gradient(top, $from-color, $to-color);
  background: -ms-linear-gradient(top, $from-color, $to-color);
  background: -o-linear-gradient(top, $from-color, $to-color);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#{$from-color}', EndColorStr='#{$to-color}')";
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  border-radius: $radius;
  background-clip: padding-box;
}

@mixin box-sizing($box-model) {
  -webkit-box-sizing: $box-model;
  -moz-box-sizing: $box-model;
  box-sizing: $box-model;
}

// basic breakpoint mixin
// $width: desired breakpoint width in em/px
// $type: min/max-width, optional - defaults to max-width
@mixin breakpoint($width, $type:"") {
  @if $type != "" {
    @media ($type: $width) {
      @content;
    }
  }
  @else {
    @media (max-width: $width) {
      @content;
    }
  }
}

// disable text selection
@mixin no-select() {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

@mixin icon($dataSvg...) {
  content: ' ';
  background-image: url($dataSvg) !important;
  background-color: transparent !important;
  background-repeat: no-repeat;
  background-position: center;
}

@mixin svg($dataSvg...) {
  background-image: url($dataSvg) !important;
  background-color: transparent !important;
  background-repeat: no-repeat;
  background-position: center;
}

@mixin centered() {
  position: absolute;
  top: 50%  !important;
  left: 50% !important;
  @include translate(-50%, -50%);
}
