/* Media Player Error State - VoD Unavailable */
.vjs-error .vjs-error-display,
.video-js .vjs-modal-dialog,
.vjs-modal-dialog .vjs-modal-dialog-content {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba($color-black, 0.9);
  z-index: 150;
}

.vjs-error-display {
  margin: 0 0 0 0;
  padding: 0;
  font-size: 24px;
  font-family: $exo2;
  font-weight: 400;
  color: $color-off-white;
  text-align: center;
}

.vjs-error .vjs-error-display:before {
  content: ' ' !important;
  font-size: 24px !important;
  font-family: $exo2 !important;
  font-weight: 400 !important;
  color: $color-off-white !important;
  text-align: center;
  position: absolute;
  text-shadow: none !important;
  @include centered;
}

.vjs-errors-dialog {
  text-align: center !important;
  border: none !important;
  overflow: hidden;
  position: absolute;
  color: $color-med-gray;
  top: 0 !important;
  bottom: 0 !important;
  left: 0 !important;
  right: 0 !important;
  background: none !important;
}

.vjs-errors-close-button {
  display: none !important; // Remove to use as close button from share overlay
  width:26px !important;
  height: 26px !important;
  top: 55px;
  right:20px;
  @include icon('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2226%22%20height%3D%2226%22%20viewBox%3D%220%200%2026%2026%22%3E%3Ccircle%20fill%3D%22%234B4A4B%22%20cx%3D%2213%22%20cy%3D%2213%22%20r%3D%2213%22%2F%3E%3Cpath%20fill%3D%22%23C4C2C2%22%20d%3D%22M14.112%2013l5.729-5.729c.307-.307.307-.805%200-1.112-.307-.307-.805-.307-1.112%200L13%2011.888l-5.729-5.73c-.307-.307-.805-.307-1.112%200-.307.307-.307.805%200%201.112L11.888%2013l-5.729%205.729c-.307.307-.307.805%200%201.112.154.154.355.23.556.23.201%200%20.403-.077.556-.23L13%2014.112l5.729%205.729c.154.154.355.23.556.23.201%200%20.403-.077.556-.23.307-.307.307-.805%200-1.112L14.112%2013z%22%2F%3E%3C%2Fsvg%3E');
  @include transition(all 0.5s ease-in-out !important);
  position: absolute !important;
  &:before  {
    content: '' !important;
  }
  &:hover {
    @include icon('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2226%22%20height%3D%2226%22%20viewBox%3D%220%200%2026%2026%22%3E%3Ccircle%20fill%3D%22%2318a7df%22%20cx%3D%2213%22%20cy%3D%2213%22%20r%3D%2213%22%2F%3E%3Cpath%20fill%3D%22%23C4C2C2%22%20d%3D%22M14.112%2013l5.729-5.729c.307-.307.307-.805%200-1.112-.307-.307-.805-.307-1.112%200L13%2011.888l-5.729-5.73c-.307-.307-.805-.307-1.112%200-.307.307-.307.805%200%201.112L11.888%2013l-5.729%205.729c-.307.307-.307.805%200%201.112.154.154.355.23.556.23.201%200%20.403-.077.556-.23L13%2014.112l5.729%205.729c.154.154.355.23.556.23.201%200%20.403-.077.556-.23.307-.307.307-.805%200-1.112L14.112%2013z%22%2F%3E%3C%2Fsvg%3E');
    cursor: pointer;
  }
}

.vjs-errors-ok-button {
  display: none !important;
}

.vjs-errors-content-container {
  width:100% !important;
  height: 100% !important;
  @include centered;
  top: 50% !important;
}

.vjs-errors-headline {
  margin: 0 auto;
  width: 100%;
  font-size: 24px !important;
  font-family: $exo2 !important;
  font-weight: 300 !important;
  color: $color-off-white !important;
  text-align: center !important;
  @include no-select;
  &::before {
    margin: 0 auto 50px !important;
    width: 105px !important;
    height: 111px !important;
    position: absolute;
    left: 50%;
    @include translate(-50%, -120%);
    @include icon('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20105%20111%22%3E%3Cg%20fill%3D%22%23C4C2C2%22%3E%3Cpath%20d%3D%22M30.1%2082.7H74c.8%200%201.5-.7%201.5-1.5s-.7-1.5-1.5-1.5H30.1c-.8%200-1.5.7-1.5%201.5-.1.8.6%201.5%201.5%201.5z%22%2F%3E%3Cpath%20d%3D%22M89%2048.8H25.9l60.7-18.5c.7-.2%201.4-.7%201.7-1.4.4-.7.4-1.5.2-2.2l-4.8-15.8c-.4-1.2-1.5-2.1-2.8-2.1-.3%200-.6%200-.8.1L9.3%2030.5c-1.5.5-2.4%202.1-1.9%203.6l5%2016.3-.1.2c-.1.3-.2.7-.2%201.1v45.2c0%201.6%201.3%202.9%202.9%202.9h74c1.6%200%202.9-1.3%202.9-2.9V51.7c0-1.6-1.3-2.9-2.9-2.9zM72.9%2017.2l6.2-1.9%203.1%2010.3-12.1%203.7%202.8-12.1zM57.2%2022l12.4-3.8-2.8%2012.1L54.4%2034l2.8-12zm-15.7%204.8L53.9%2023l-2.8%2012-12.4%203.8%202.8-12zm-15.8%204.7l12.4-3.8-2.8%2012.1-12.4%203.8%202.8-12.1zm-11.9%203.7l8.6-2.6-2.8%2012.1-2.6.7-3.2-10.2zM86.1%2094H17.9V54.6h68.2V94z%22%2F%3E%3Cpath%20d%3D%22M30.1%2065.9H74c.8%200%201.5.7%201.5%201.5s-.7%201.5-1.5%201.5H30.1c-.8%200-1.5-.7-1.5-1.5-.1-.8.6-1.5%201.5-1.5z%22%2F%3E%3C%2Fg%3E%3Cpath%20fill%3D%22%23C4C2C2%22%20d%3D%22M6.7%20109.7c-.8%200-1.5-.3-2.1-.8L2%20106.5c-1.2-1.2-1.3-3.1-.1-4.3L96.1%202.3c.6-.6%201.4-1%202.2-1%20.8%200%201.5.3%202.1.8l2.6%202.4c1.2%201.2%201.3%203.1.1%204.3L8.9%20108.7c-.5.6-1.3%201-2.2%201z%22%2F%3E%3Cpath%20d%3D%22M98.3%202.3c.5%200%201%20.2%201.4.6l2.6%202.4c.8.8.9%202.1.1%202.9L8.2%20108.1c-.4.4-.9.6-1.5.6-.5%200-1-.2-1.4-.6l-2.6-2.4c-.8-.8-.9-2.1-.1-2.9L96.8%202.9c.4-.4.9-.6%201.5-.6m0-2c-1.1%200-2.2.5-2.9%201.3L1.2%20101.4c-.7.8-1.1%201.8-1.1%202.9s.5%202.1%201.3%202.8l2.6%202.4c.8.7%201.7%201.1%202.8%201.1%201.1%200%202.2-.5%202.9-1.3l94.1-99.9c.7-.8%201.1-1.8%201.1-2.9%200-1.1-.5-2.1-1.3-2.8L101%201.3c-.7-.6-1.7-1-2.7-1z%22%2F%3E%3C%2Fsvg%3E');
  }
}

h2.vjs-errors-headline {
  @include centered;
  top: 65% !important;
}
h2.vjs-errors-headline + div {
  @include centered;
  top: 75% !important;
  display: none;
}

.vjs-errors-ok-button-container {
  bottom: 25px !important;
}

.vjs-errors-details {
  display: none !important;
}


@media only screen and (max-width: 500px) {
  .vjs-errors-headline {
    font-size: 18px !important;
  }
  .vjs-errors-headline:before {
    margin: 0 auto 20px;
    width: 52px !important;
    height: 55px !important;
    @include translate(-50%, -100%);
  }
  h2.vjs-errors-headline {
    @include centered;
    top: 50% !important;
  }
  h2.vjs-errors-headline + div {
    @include centered;
    width:100%;
    top: 65% !important;
    font-size: 10px !important;
  }
}
