// Progress Bar
.video-js .vjs-play-progress {
  background-color: $color-azubu-blue !important;
}

.video-js .vjs-play-progress:before {
  position: absolute;
  top: -3px;
  right: 0;
  width: 12px;
  height: 12px;
  @include icon('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2017%2017%22%3E%3Ccircle%20fill%3D%22%2318A7DF%22%20stroke%3D%22%23FFF%22%20stroke-miterlimit%3D%2210%22%20cx%3D%228.5%22%20cy%3D%228.5%22%20r%3D%228%22%2F%3E%3C%2Fsvg%3E');
  display: block !important;
  @include transition(all 0.25s ease-in-out !important);
}

.video-js .vjs-progress-holder:hover .vjs-play-progress:before {
  position: absolute;
  top: -3px;
  right: -8px;
  width: 16px;
  height: 16px;
  @include icon('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2017%2017%22%3E%3Ccircle%20fill%3D%22%2318A7DF%22%20stroke%3D%22%23FFF%22%20stroke-miterlimit%3D%2210%22%20cx%3D%228.5%22%20cy%3D%228.5%22%20r%3D%228%22%2F%3E%3C%2Fsvg%3E');
  display: block !important;
}

.not-hover.vjs-has-started.vjs-playing.vjs-user-inactive .vjs-control-bar .vjs-play-progress:before,
.not-hover.vjs-has-started.vjs-paused.vjs-user-inactive .vjs-control-bar .vjs-play-progress:before,
.video-js.vjs-has-started.vjs-paused.vjs-user-inactive .vjs-control-bar .vjs-play-progress:before,
.video-js.vjs-has-started.vjs-playing.vjs-user-inactive .vjs-control-bar .vjs-play-progress:before{
  opacity: 0;
}

.video-js .vjs-progress-control:hover .vjs-play-progress:after {
  display:none;
}

.video-js .vjs-slider {
  background-color: rgba($color-med-gray, 0.6);
}

.video-js.vjs-has-started.vjs-playing.vjs-user-inactive.vjs-fullscreen .vjs-control-bar {
  @include translateY(5em);
  @include transition-delay(.1s !important);
}

.video-js.vjs-has-started.vjs-playing.vjs-user-inactive .vjs-control-bar {
  @include translateY(4.4em);
  @include transition-delay(.1s !important);
}

.not-hover.vjs-has-started.vjs-playing.vjs-user-inactive.vjs-fullscreen .vjs-control-bar,
.not-hover.vjs-has-started.vjs-paused.vjs-user-inactive .vjs-control-bar,
.video-js.vjs-has-started.vjs-paused.vjs-user-inactive .vjs-control-bar,
.not-hover.vjs-has-started.vjs-playing.vjs-user-inactive .vjs-control-bar {
  @include translateY(5em);
  @include transition-delay(4s !important);
}

.not-hover.vjs-has-started.vjs-playing.vjs-user-active.vjs-fullscreen .vjs-control-bar,
.not-hover.vjs-has-started.vjs-paused.vjs-user-active .vjs-control-bar,
  //.video-js.vjs-has-started.vjs-paused.vjs-user-active .vjs-control-bar,
.not-hover.vjs-has-started.vjs-playing.vjs-user-active .vjs-control-bar {
  @include translateY(4.4em);
  @include transition-delay(4s !important);
}

.not-hover.vjs-has-started.vjs-paused.vjs-user-active.vjs-fullscreen .vjs-progress-control,
  //.not-hover.vjs-has-started.vjs-paused.vjs-user-inactive.vjs-fullscreen .vjs-progress-control,
.not-hover.vjs-has-started.vjs-playing.vjs-user-active.vjs-fullscreen .vjs-progress-control,
.not-hover.vjs-has-started.vjs-playing.vjs-user-inactive.vjs-fullscreen .vjs-progress-control,
.vjs-has-started.vjs-playing.vjs-user-inactive.vjs-fullscreen .vjs-progress-control {
  opacity: 1 !important;
  @include transition(all 0.25s ease-in-out !important);
}

.video-js .vjs-progress-control {
  height: .6em !important;
  top: -.6em !important;
  @include transition(all 0.25s ease-in-out !important);
}

.video-js .vjs-progress-control:hover {
  height: 1em !important;
  top: -1em !important;
  @include transition(all 0.25s ease-in-out !important);
}

.video-js .vjs-load-progress div {
  height: 100% !important;
}


// Progress Bar Tooltip
.video-js .vjs-progress-control .vjs-mouse-display {
  position: absolute;
  width: 4px;
  height: 100%;
  background-color: $color-off-black;
  z-index: 1;
}

.video-js .vjs-progress-control:hover .vjs-time-tooltip {
  width: 111px !important;
  height: 43px !important;
  @include svg('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22111%22%20height%3D%2243%22%20viewBox%3D%220%200%20111%2043%22%3E%3Cpath%20fill%3D%22%231D1D1D%22%20stroke%3D%22%234B4A4B%22%20stroke-miterlimit%3D%2210%22%20d%3D%22M.5%203.68v26.04c0%201.37%201.11%202.48%202.48%202.48H47.5l8%2010%208-10h44.52c1.37%200%202.48-1.11%202.48-2.48V3.68c0-1.37-1.11-2.48-2.48-2.48H2.98C1.61%201.2.5%202.31.5%203.68z%22%2F%3E%3C%2Fsvg%3E');
  font-size: 18px;
  font-weight: 300;
  font-family: 'Exo 2',sans-serif;
  position: absolute;
}

.vjs-mouse-display .vjs-time-tooltip {
  width: 17px !important;
  height: 12px !important;
  @include svg('data:image/svg+xml;charset=utf8,%3Csvg%20id%3D%22tooltip_carrot%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2017%2012%22%3E%3Cstyle%3E.st0%7Bfill%3A%231D1D1D%3B%7D%20.st1%7Bfill%3A%234C4B4C%3B%7D%3C%2Fstyle%3E%3Cpath%20class%3D%22st0%22%20d%3D%22M.7%200l7.8%2010.3L16.4%200z%22%2F%3E%3Cpath%20class%3D%22st1%22%20d%3D%22M16.1.3L8.5%209.7.9.2.3%201l8.2%2010.3L16.7%201z%22%2F%3E%3C%2Fsvg%3E');
}

.video-js .vjs-mouse-display .vjs-time-tooltip:after {
  font-size: 18px;
  font-weight: 300;
  font-family: 'Exo 2',sans-serif;
}

.vjs-mouse-display .vjs-time-tooltip,
.video-js .vjs-mouse-display:after, .video-js .vjs-play-progress:after {
  position: absolute;
  top: -2.9em;
  right: -2.9em;
  content: attr(data-current-time);
  padding: 8px 0 0 0 !important;
  @include transition(all 0.5s ease-in-out);
}

.video-js .vjs-progress-holder .vjs-tooltip-progress-bar {
  display: none;
}


// Time Control
.video-js .vjs-time-control {
  padding-top:3px;
  font-size: 12px;
  font-family: 'Exo 2',sans-serif;
  font-weight: 300;
  color: $color-lt-gray;
  position: absolute;
  display: none !important;
}

.vjs-current-time-display {
  font-size: 14px;
  color: $color-off-white;
  position: absolute;
  z-index: 50;
  left: 10px;
  bottom: 60px;
}

.vjs-duration-display {
  margin-right:15px;
}
