// Settings - Renditions Controls
.video-js .vjs-settings-control,
.vjs-icon-settings {
  width: 50px !important;
  display: flex !important;
  order: 4;
  cursor: pointer;
}

.video-js .vjs-settings-control:before,
.vjs-icon-settings:before {
  margin: 12px 15px;
  width: 20px !important;
  height: 20px !important;
  @include icon('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%3E%3Cpath%20fill%3D%22%23666%22%20d%3D%22M19.828%209.067s-.363-.137-1.414-.233c-1.285-.119-1.672-.6-2.099-1.2h-.009c-.053-.142-.11-.283-.173-.421l.005-.005c-.122-.726-.188-1.34.636-2.333.674-.811.835-1.165.835-1.165-.158-.401-.538-.781-.538-.781s-.38-.38-.781-.538c0%200-.354.16-1.165.834-.992.824-1.607.758-2.333.636l-.005.005c-.138-.063-.278-.119-.421-.173v-.008c-.599-.427-1.081-.815-1.2-2.1-.097-1.05-.233-1.414-.233-1.414C10.537%200%2010%200%2010%200s-.538%200-.933.172c0%200-.137.364-.234%201.414-.119%201.285-.6%201.672-1.2%202.1v.008c-.142.053-.283.11-.42.172l-.005-.004c-.726.122-1.341.188-2.333-.636-.811-.674-1.165-.835-1.165-.835-.401.158-.781.538-.781.538s-.38.381-.538.782c0%200%20.16.354.834%201.165.824.992.757%201.607.636%202.333l.005.005c-.062.137-.119.277-.173.42h-.008c-.427.6-.815%201.081-2.099%201.2-1.05.096-1.414.233-1.414.233C0%209.463%200%2010%200%2010s0%20.538.172.933c0%200%20.363.137%201.413.234%201.285.119%201.672.601%202.099%201.2h.008c.053.143.11.283.173.421l-.005.005c.122.726.188%201.34-.636%202.333-.674.811-.835%201.165-.835%201.165.159.401.538.781.538.781s.381.38.782.538c0%200%20.353-.16%201.165-.834.992-.824%201.607-.757%202.333-.636l.005-.005c.138.063.278.119.421.173v.009c.6.427%201.081.815%201.2%202.099.097%201.05.234%201.414.234%201.414.396.17.933.17.933.17s.538%200%20.933-.172c0%200%20.137-.363.233-1.414.119-1.285.601-1.672%201.2-2.099v-.009c.143-.054.283-.11.421-.173l.005.005c.726-.122%201.34-.188%202.333.636.811.674%201.165.835%201.165.835.401-.159.781-.538.781-.538s.38-.38.538-.781c0%200-.16-.354-.835-1.165-.824-.992-.758-1.607-.636-2.333l-.005-.005c.063-.138.12-.278.173-.421h.009c.427-.599.815-1.081%202.099-1.2%201.05-.097%201.414-.234%201.414-.234C20%2010.537%2020%2010%2020%2010s0-.538-.172-.933zM10%2014.677c-2.583%200-4.677-2.094-4.677-4.677S7.417%205.323%2010%205.323c2.583%200%204.677%202.094%204.677%204.677S12.583%2014.677%2010%2014.677z%22%2F%3E%3C%2Fsvg%3E');
  @include transition(all 0.5s ease-in-out !important);
}

.video-js .vjs-settings-control:hover:before,
.vjs-icon-settings:hover:before {
  width: 50px;
  height: 44px;
  @include icon('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%3E%3Cpath%20fill%3D%22%239f9e9e%22%20d%3D%22M19.828%209.067s-.363-.137-1.414-.233c-1.285-.119-1.672-.6-2.099-1.2h-.009c-.053-.142-.11-.283-.173-.421l.005-.005c-.122-.726-.188-1.34.636-2.333.674-.811.835-1.165.835-1.165-.158-.401-.538-.781-.538-.781s-.38-.38-.781-.538c0%200-.354.16-1.165.834-.992.824-1.607.758-2.333.636l-.005.005c-.138-.063-.278-.119-.421-.173v-.008c-.599-.427-1.081-.815-1.2-2.1-.097-1.05-.233-1.414-.233-1.414C10.537%200%2010%200%2010%200s-.538%200-.933.172c0%200-.137.364-.234%201.414-.119%201.285-.6%201.672-1.2%202.1v.008c-.142.053-.283.11-.42.172l-.005-.004c-.726.122-1.341.188-2.333-.636-.811-.674-1.165-.835-1.165-.835-.401.158-.781.538-.781.538s-.38.381-.538.782c0%200%20.16.354.834%201.165.824.992.757%201.607.636%202.333l.005.005c-.062.137-.119.277-.173.42h-.008c-.427.6-.815%201.081-2.099%201.2-1.05.096-1.414.233-1.414.233C0%209.463%200%2010%200%2010s0%20.538.172.933c0%200%20.363.137%201.413.234%201.285.119%201.672.601%202.099%201.2h.008c.053.143.11.283.173.421l-.005.005c.122.726.188%201.34-.636%202.333-.674.811-.835%201.165-.835%201.165.159.401.538.781.538.781s.381.38.782.538c0%200%20.353-.16%201.165-.834.992-.824%201.607-.757%202.333-.636l.005-.005c.138.063.278.119.421.173v.009c.6.427%201.081.815%201.2%202.099.097%201.05.234%201.414.234%201.414.396.17.933.17.933.17s.538%200%20.933-.172c0%200%20.137-.363.233-1.414.119-1.285.601-1.672%201.2-2.099v-.009c.143-.054.283-.11.421-.173l.005.005c.726-.122%201.34-.188%202.333.636.811.674%201.165.835%201.165.835.401-.159.781-.538.781-.538s.38-.38.538-.781c0%200-.16-.354-.835-1.165-.824-.992-.758-1.607-.636-2.333l-.005-.005c.063-.138.12-.278.173-.421h.009c.427-.599.815-1.081%202.099-1.2%201.05-.097%201.414-.234%201.414-.234C20%2010.537%2020%2010%2020%2010s0-.538-.172-.933zM10%2014.677c-2.583%200-4.677-2.094-4.677-4.677S7.417%205.323%2010%205.323c2.583%200%204.677%202.094%204.677%204.677S12.583%2014.677%2010%2014.677z%22%2F%3E%3C%2Fsvg%3E');
}

.video-js .vjs-settings-control:active:before,
.vjs-icon-settings:active:before {
  width: 50px;
  height: 44px;
  @include icon('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%3E%3Cpath%20fill%3D%22%2318a7df%22%20d%3D%22M19.828%209.067s-.363-.137-1.414-.233c-1.285-.119-1.672-.6-2.099-1.2h-.009c-.053-.142-.11-.283-.173-.421l.005-.005c-.122-.726-.188-1.34.636-2.333.674-.811.835-1.165.835-1.165-.158-.401-.538-.781-.538-.781s-.38-.38-.781-.538c0%200-.354.16-1.165.834-.992.824-1.607.758-2.333.636l-.005.005c-.138-.063-.278-.119-.421-.173v-.008c-.599-.427-1.081-.815-1.2-2.1-.097-1.05-.233-1.414-.233-1.414C10.537%200%2010%200%2010%200s-.538%200-.933.172c0%200-.137.364-.234%201.414-.119%201.285-.6%201.672-1.2%202.1v.008c-.142.053-.283.11-.42.172l-.005-.004c-.726.122-1.341.188-2.333-.636-.811-.674-1.165-.835-1.165-.835-.401.158-.781.538-.781.538s-.38.381-.538.782c0%200%20.16.354.834%201.165.824.992.757%201.607.636%202.333l.005.005c-.062.137-.119.277-.173.42h-.008c-.427.6-.815%201.081-2.099%201.2-1.05.096-1.414.233-1.414.233C0%209.463%200%2010%200%2010s0%20.538.172.933c0%200%20.363.137%201.413.234%201.285.119%201.672.601%202.099%201.2h.008c.053.143.11.283.173.421l-.005.005c.122.726.188%201.34-.636%202.333-.674.811-.835%201.165-.835%201.165.159.401.538.781.538.781s.381.38.782.538c0%200%20.353-.16%201.165-.834.992-.824%201.607-.757%202.333-.636l.005-.005c.138.063.278.119.421.173v.009c.6.427%201.081.815%201.2%202.099.097%201.05.234%201.414.234%201.414.396.17.933.17.933.17s.538%200%20.933-.172c0%200%20.137-.363.233-1.414.119-1.285.601-1.672%201.2-2.099v-.009c.143-.054.283-.11.421-.173l.005.005c.726-.122%201.34-.188%202.333.636.811.674%201.165.835%201.165.835.401-.159.781-.538.781-.538s.38-.38.538-.781c0%200-.16-.354-.835-1.165-.824-.992-.758-1.607-.636-2.333l-.005-.005c.063-.138.12-.278.173-.421h.009c.427-.599.815-1.081%202.099-1.2%201.05-.097%201.414-.234%201.414-.234C20%2010.537%2020%2010%2020%2010s0-.538-.172-.933zM10%2014.677c-2.583%200-4.677-2.094-4.677-4.677S7.417%205.323%2010%205.323c2.583%200%204.677%202.094%204.677%204.677S12.583%2014.677%2010%2014.677z%22%2F%3E%3C%2Fsvg%3E');
}

.vjs-menu-container {
  width: 118px;
  height: 244px;
  display: block;
  bottom: 44px;
  right: 25px;
  position: absolute;
  overflow: hidden;
  pointer-events: none;
  z-index: 20;
}

.vjs-settings-menu {
  opacity: 1;
  display: block;
  margin: 0 0 0 0 !important;
  padding: 0;
  width: 118px;
  bottom: 0;
  position: absolute;
  font-family: $exo2 !important;
  text-align: left !important;
  font-weight: 300;
  color: $menu-label !important;
  z-index: 5;
  &-toggle {
    @include translateY(24.4em);
    pointer-events: none;
  }
  &-top {
    margin: 0;
    padding: 9px 0 0 6px !important;
    width: 118px;
    height: 28px;
    background: rgba(0,0,0,0.90) !important;
    font-size: 11px !important;
    border-radius: 5px 5px 0 0;
    border:none;
    font-family: $exo2 !important;
    font-weight: 300;
    list-style: none;
    text-align: left !important;
    text-transform: capitalize !important;
    pointer-events: auto;
    @include no-select;
    &:hover {
      background: rgba($color-black, 0.9) !important;
    }
    & label {
      font-family: $exo2 !important;
      font-size: 11px !important;
      font-weight: 300;
      text-align: left !important;
      text-transform: capitalize !important;
      @include no-select;
    }
  }
  &-item {
    margin: 0;
    padding: 10px 0 0 12px;
    width: 118px;
    height: 36px;
    background: $menu-item-background;
    color: $menu-label;
    font-size: 14px !important;
    border-top: solid 1px $menu-item-divider;
    list-style: none;
    text-align: left !important;
    text-transform: capitalize !important;
    pointer-events: auto;
    @include transition(all 0.25s ease-in-out);
    &-infodock {
      display: none;
    }
    & label {
      font-family: $exo2;
      font-size: 14px !important;
      font-weight: 300;
      text-align: left !important;
      text-transform: capitalize !important;
      cursor: pointer;
    }
    &:hover,
    &-source:hover {
      color: $menu-label-hover;
      background: $menu-item-background;
      cursor: pointer;
      pointer-events: auto;
    }
    &-inactive {
      color: $menu-label-inactive !important;
      cursor: default !important;
      @include no-select();
      & label {
        cursor: default !important;
        @include no-select();
      }
    }
    &-label {
      margin: 10px 0 0 12px;
      padding: 0;
      &-source {
        margin: 10px 0 0 12px;
        padding: 0;
        font-weight: 700;
        float: left;
      }
    }
    &-source {
      font-weight: 700;
      margin: 0;
      padding: 0;
      width: 118px;
      height: 36px;
      background: $menu-item-background;
      color: $menu-label;
      font-size: 14px !important;
      border-top: solid 1px $menu-item-divider;
      list-style: none;
      text-align: left !important;
      text-transform: capitalize !important;
      pointer-events: auto;
      @include transition(all 0.5s ease-in-out);
      & label {
        font-weight: 700;
        cursor: pointer;
      }
    }
  }
}

.vjs-renditions-menu {
  opacity: 1;
  display: block;
  margin: 0 0 0 0;
  padding: 0;
  width: 118px;
  font-family: $exo2 !important;
  text-align: left !important;
  font-weight: 300;
  color: $menu-label !important;
  pointer-events: auto;
  z-index: 4;
  @include transition-delay(.35s);
  bottom: 0;
  position: absolute;
  &-toggle {
    @include translateY(24.4em);
  }
  &-top {
    margin: 0;
    padding: 9px 0 0 6px !important;
    width: 118px;
    height: 28px;
    background: rgba($color-black, 0.9) !important;
    font-size: 11px;
    @include border-radius(5px 5px 0 0);
    list-style: none;
    text-align: left !important;
    text-transform: capitalize !important;
    pointer-events: auto;
    cursor: pointer;
    &-label {
      margin: 9px 0 0 5px;
      padding: 0;
      float: left;
    }
    & label {
      font-weight: 300;
      text-align: left !important;
      text-transform: capitalize !important;
      cursor: pointer;
    }
  }
}

.vjs-settings-video-source-tag {
  margin: 3px 0 0 12px;
  width: 29px;
  height: 5px;
  @include icon("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2229%22%20height%3D%225%22%20viewBox%3D%220%200%2029%205%22%3E%3Cg%20fill%3D%22%2318A7DF%22%3E%3Cpath%20d%3D%22M.264%203.591c.274.166.841.362%201.282.362.45%200%20.636-.157.636-.402s-.147-.362-.704-.547C.49%202.671.108%202.133.118%201.566.118.675.881%200%202.065%200c.558%200%201.057.127%201.35.274l-.264%201.027c-.216-.117-.627-.274-1.037-.274-.362%200-.567.147-.567.391%200%20.225.185.342.773.548.909.314%201.29.773%201.3%201.479%200%20.89-.705%201.545-2.074%201.545C.92%204.989.362%204.853%200%204.657l.264-1.066zM9.249%202.446C9.249%204.198%208.006%205%206.724%205c-1.399%200-2.475-.92-2.475-2.466C4.249.988%205.266%200%206.803%200%208.27%200%209.249%201.008%209.249%202.446zm-3.464.049c0%20.821.342%201.438.978%201.438.577%200%20.949-.577.949-1.438%200-.715-.274-1.439-.949-1.439-.714%200-.978.735-.978%201.439zM14.682%203.356c0%20.626.02%201.135.039%201.536H13.43l-.069-.675h-.029c-.186.294-.636.783-1.497.783-.968%200-1.683-.607-1.683-2.084V.108h1.497v2.573c0%20.695.225%201.116.744%201.116.411%200%20.646-.284.744-.518.039-.089.049-.206.049-.323V.108h1.497v3.248zM15.879%201.683c0-.704-.02-1.164-.039-1.575h1.282l.049.88h.039C17.454.293%2018.041%200%2018.5%200c.138%200%20.207%200%20.314.02v1.399c-.107-.02-.235-.039-.401-.039-.548%200-.92.293-1.018.753-.02.098-.029.215-.029.333v2.426h-1.487V1.683zM23.111%204.774c-.265.118-.764.215-1.331.215-1.546%200-2.534-.939-2.534-2.446%200-1.399.959-2.544%202.74-2.544.391%200%20.822.068%201.135.186l-.234%201.106c-.177-.078-.441-.147-.832-.147-.784%200-1.293.558-1.282%201.34%200%20.881.587%201.341%201.311%201.341.352%200%20.626-.059.851-.147l.176%201.096zM24.973%202.974c.049.617.656.91%201.35.91.509%200%20.92-.069%201.321-.196l.195%201.009c-.489.195-1.086.293-1.731.293-1.624%200-2.554-.939-2.554-2.436%200-1.214.753-2.554%202.417-2.554%201.545%200%202.132%201.204%202.132%202.387%200%20.254-.029.479-.048.587h-3.082zm1.751-1.017c0-.362-.157-.969-.841-.969-.627%200-.881.567-.92.969h1.761z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
}

.vjs-source-options-enter {
  margin: 14px 7px 0 0;
  width: 5px;
  height: 8px;
  @include icon("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%225%22%20height%3D%228%22%20viewBox%3D%220%200%205%208%22%3E%3Cpath%20fill%3D%22%23C4C2C2%22%20d%3D%22M4.92%204.184L1.184%207.92C1.136%207.968%201.064%208%201%208s-.136-.032-.184-.08l-.401-.401c-.048-.048-.08-.112-.08-.184%200-.064.032-.136.08-.184L3.565%204%20.415.85C.367.802.335.73.335.666S.367.53.415.482L.816.08C.864.032.936%200%201%200s.136.032.184.08L4.92%203.816c.048.048.08.12.08.184s-.032.136-.08.184z%22%2F%3E%3C%2Fsvg%3E");
  @include transition(all 0.5s ease-in-out);
  float: right;
}

.vjs-source-options-enter:hover,
.vjs-settings-menu-item-source:hover .vjs-source-options-enter {
  width: 5px;
  height: 8px;
  @include icon("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%225%22%20height%3D%228%22%20viewBox%3D%220%200%205%208%22%3E%3Cpath%20fill%3D%22%2318a7df%22%20d%3D%22M4.92%204.184L1.184%207.92C1.136%207.968%201.064%208%201%208s-.136-.032-.184-.08l-.401-.401c-.048-.048-.08-.112-.08-.184%200-.064.032-.136.08-.184L3.565%204%20.415.85C.367.802.335.73.335.666S.367.53.415.482L.816.08C.864.032.936%200%201%200s.136.032.184.08L4.92%203.816c.048.048.08.12.08.184s-.032.136-.08.184z%22%2F%3E%3C%2Fsvg%3E");
}

.vjs-source-options-exit {
  margin: 2px 5px 0 0;
  padding: 0 !important;
  width: 5px !important;
  height: 8px !important;
  @include icon("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%225%22%20height%3D%228%22%20viewBox%3D%220%200%205%208%22%3E%3Cpath%20fill%3D%22%23C4C2C2%22%20d%3D%22M.08%203.816L3.816.08C3.864.032%203.936%200%204%200s.136.032.184.08l.401.401c.048.048.08.112.08.184%200%20.064-.032.136-.08.184L1.435%204l3.15%203.15c.048.048.08.12.08.184s-.032.136-.08.184l-.401.402C4.136%207.968%204.064%208%204%208s-.136-.032-.184-.08L.08%204.184C.032%204.136%200%204.064%200%204s.032-.136.08-.184z%22%2F%3E%3C%2Fsvg%3E");
  @include transition(all 0.5s ease-in-out);
  float: left;
}


.vjs-source-options-exit:hover,
.vjs-renditions-menu-top:hover .vjs-source-options-exit {
  width: 5px !important;
  height: 8px !important;
  @include icon("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%225%22%20height%3D%228%22%20viewBox%3D%220%200%205%208%22%3E%3Cpath%20fill%3D%22%2318a7df%22%20d%3D%22M.08%203.816L3.816.08C3.864.032%203.936%200%204%200s.136.032.184.08l.401.401c.048.048.08.112.08.184%200%20.064-.032.136-.08.184L1.435%204l3.15%203.15c.048.048.08.12.08.184s-.032.136-.08.184l-.401.402C4.136%207.968%204.064%208%204%208s-.136-.032-.184-.08L.08%204.184C.032%204.136%200%204.064%200%204s.032-.136.08-.184z%22%2F%3E%3C%2Fsvg%3E");
  float: left;
  cursor: pointer;
}

.vjs-rendition-notification {
  opacity: 0;
  padding: 8px 20px 10px;
  color: $color-white;
  background: rgba($color-black, 0.7);
  @include border-radius(3px);
  text-align: center;
  font-size: 18px;
  font-weight: 300;
  font-family: $exo2;
  position: absolute;
  z-index: 10;
  top: 70%;
  left: 50%;
  @include no-select;
  pointer-events: none;
  @include translate(-50%, -50%);
  &-toggle {
    @include animation(triggerOffOnOff 6s ease);
  }
}
@include keyframes(triggerOffOnOff) {
  0% {opacity: 0;}
  45% {opacity: 0;}
  55% {opacity: 1;}
  90% {opacity: 1;}
  100% {opacity: 0;}
}

// Menu Panel Transition Between Settings and Renditions
.vjs-panel-fadeout {
  opacity: 0 !important;
  z-index: -1 !important;
  @include transition(all .13s ease-in-out !important, z-index .01s linear !important);
  @include transition-delay(.25s, .25s !important);
  pointer-events: none !important;
}

.vjs-panel-fadein {
  opacity: 1 !important;
  @include transition-delay(.6s !important);
}

.vjs-menu-upto-renditions {
  @include translateY(10.8em);
  @include transition-delay(.35s !important);
  z-index: 4 !important;
  pointer-events: none;
}

.vjs-no-pointer-events {
  pointer-events: none !important;
}

.vjs-icon-spin {
  @include animation(spin 1s linear 5);
}
@include keyframes(spin) {
  100% { transform: rotate(360deg); }
}

.vjs-toggle-menu-labels {
  @include animation(triggerOnOffOn 1s ease);

}
@include keyframes(triggerOnOffOn) {
  0% {opacity: 1;}
  15% {opacity: 0;}
  85% {opacity: 0;}
  100% {opacity: 1;}
}

.vjs-no-delay {
  @include transition-delay(0s !important);
  pointer-events: none !important;
}

.vjs-halfsec-delay {
  @include transition-delay(.25s !important);
  pointer-events: none !important;
}


// Menu Panels Auto Hide Transitions
.not-hover.vjs-has-started.vjs-playing.vjs-user-active .vjs-renditions-menu,
.not-hover.vjs-has-started.vjs-playing.vjs-user-active .vjs-settings-menu {
  @include translateY(24.4em);
  @include transition-delay(3.75s !important);
}

@media only screen and (min-width: 480px) and (max-width: 560px) {
  .vjs-rendition-options-container {
    max-height: 180px;
    overflow-x: hidden;
    overflow-y: auto;
  }
  .vjs-menu-upto-renditions {
    @include translateY(7.2em);
  }
  .vjs-rendition-options-container::-webkit-scrollbar { -webkit-appearance: none; width: 6px; background-color: $menu-item-background}
  .vjs-rendition-options-container::-webkit-scrollbar-thumb {border: none; background-color: $color-azubu-blue-dark}
  .vjs-rendition-notification {
    padding: 8px 17px 9px;
    font-size: 16px;
    top: 65%;
  }
}

@media only screen and (min-width: 400px) and (max-width: 479px) {
  .vjs-settings-options-container {
    max-height: 108px;
    overflow-x: hidden;
    overflow-y: scroll;
  }
  .vjs-rendition-options-container {
    max-height: 144px;
    overflow-x: hidden;
    overflow-y: auto;
  }
  .vjs-settings-menu-item-infodock {
    display: block;
  }
  .vjs-menu-upto-renditions {
    @include translateY(3.6em);
  }
  .vjs-settings-options-container::-webkit-scrollbar,
  .vjs-rendition-options-container::-webkit-scrollbar { -webkit-appearance: none; width: 6px; background-color: $menu-item-background}
  .vjs-settings-options-container::-webkit-scrollbar-thumb,
  .vjs-rendition-options-container::-webkit-scrollbar-thumb {border: none; background-color: $color-azubu-blue-dark}
  .vjs-rendition-notification {
    padding: 7px 16px 8px;
    font-size: 14px;
    top: 60%;
  }
}

@media only screen and (max-width: 399px) {
  .vjs-settings-options-container,
  .vjs-rendition-options-container {
    max-height: 72px;
    overflow-x: hidden;
    overflow-y: auto;
  }
  .vjs-settings-menu-item-infodock {
    display: block;
  }
  .vjs-menu-upto-renditions {
    @include translateY(0em);
  }
  .vjs-menu-container {
    min-height:100px;
    max-height: 100px;
  }
  .vjs-settings-options-container::-webkit-scrollbar,
  .vjs-rendition-options-container::-webkit-scrollbar { -webkit-appearance: none; width: 6px; background-color: $menu-item-background}
  .vjs-settings-options-container::-webkit-scrollbar-thumb,
  .vjs-rendition-options-container::-webkit-scrollbar-thumb {border: none; background-color: $color-azubu-blue-dark}
  .vjs-rendition-notification {
    padding: 6px 14px 7px;
    font-size: 12px;
    top: 55%;
  }
}
