/* Share Screen Overlay */
.vjs-share-overlay {
  opacity: 0;
  width: 100%;
  height: 100%;
  background: rgba($color-black, 0.7);
  position: absolute;
  top:0;
  left:0;
  z-index: 50;
  @include transition(all 1s ease-in-out !important);
  pointer-events: none;
}

.vjs-share-overlay-on {
  opacity: 1 !important;
  pointer-events: auto !important;

}

.vjs-share-elements-container {
  text-align: center;
  @include centered;
  width: 95%;
}

.vjs-share-label {
  margin: 0 0 18px 0;
  font-size: 20px !important;
  font-family: $exo2;
  font-weight: 300;
  color: $color-white;
}

.vjs-share-inputs-container {
  width: 100%;
  margin: 0 auto;
  display: inline-block;
}

.vjs-share-url {
  width: 100%;
  display: inline-block;
  position: absolute;
  z-index: 1;
  padding: 8px 10px;
  margin: 8px auto;
  font-size: 20px !important;
  font-family: $exo2;
  font-weight: 700;
  color: $color-white !important;
  border: none;
  background: transparent;
  text-overflow: ellipsis;
  &-container {
    margin: 0 auto;
    margin-right: 10px;
    display: inline-block;
  }
  &::selection {
    background-color: rgba($color-frame-gray, 0.8);
  }
  &::-moz-selection {
    background-color: rgba($color-frame-gray, 0.8);
  }
  &-back {
    display: inline-block;
    margin: 10px auto;
    padding: 8px 12px;
    font-size: 20px !important;
    font-family: $exo2;
    font-weight: 700;
    text-align: center;
    color: transparent !important;
    border: none;
    background: rgba($color-black, 0.6);
    text-overflow: ellipsis;
    &::selection {
      background-color: transparent;
    }
    &::-moz-selection {
      background-color: transparent;
    }
  }
}

.vjs-share-time-container {
  vertical-align: middle;
  display: inline-block;
  margin: 0;
  padding: 0;
}

.vjs-error div.vjs-share-overlay {
  display: none !important;
}

input[type=checkbox].vjs-share-checkbox {
  margin-left: -10px;
  position:absolute;
  z-index:-1000;
  left:-1000px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height:1px;
  width:1px;
  margin:-1px;
  padding:0;
  border:0;
}

input[type=checkbox].vjs-share-checkbox + label.vjs-share-checkbox-label {
  padding-left: 30px;
  height: 20px;
  display:inline-block;
  line-height:20px;
  background-repeat:no-repeat;
  background-position: 0 0;
  font-size: 15px;
  font-family: $exo2;
  font-weight: 400;
  position: relative;
  z-index: 2;
  color: $color-off-white;
  cursor: default;
}

input[type=checkbox].vjs-share-checkbox:checked + label.vjs-share-checkbox-label {
  background-position: 0 -20px;
}
label.vjs-share-checkbox-label {
  background: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2220%22%20height%3D%2240%22%20viewBox%3D%220%200%2020%2040%22%3E%3Cpath%20fill%3D%22%231D1D1D%22%20d%3D%22M2%2039.5c-.827%200-1.5-.673-1.5-1.5V22c0-.827.673-1.5%201.5-1.5h16c.827%200%201.5.673%201.5%201.5v16c0%20.827-.673%201.5-1.5%201.5H2z%22%2F%3E%3Cpath%20fill%3D%22%239F9E9E%22%20d%3D%22M18%2021c.551%200%201%20.449%201%201v16c0%20.551-.449%201-1%201H2c-.551%200-1-.449-1-1V22c0-.551.449-1%201-1h16m0-1H2c-1.105%200-2%20.895-2%202v16c0%201.105.895%202%202%202h16c1.105%200%202-.895%202-2V22c0-1.105-.895-2-2-2z%22%2F%3E%3Cpath%20fill%3D%22%2318A7DF%22%20d%3D%22M16.755%2020.299L7.783%2030.647%203.877%2026.14l-3.22%203.714%203.906%204.507-.002.004%203.219%203.712%2012.192-14.066%22%2F%3E%3Cg%3E%3Cpath%20fill%3D%22%231D1D1D%22%20d%3D%22M2%2019.5c-.827%200-1.5-.673-1.5-1.5V2C.5%201.173%201.173.5%202%20.5h16c.827%200%201.5.673%201.5%201.5v16c0%20.827-.673%201.5-1.5%201.5H2z%22%2F%3E%3Cpath%20fill%3D%22%239F9E9E%22%20d%3D%22M18%201c.551%200%201%20.449%201%201v16c0%20.551-.449%201-1%201H2c-.551%200-1-.449-1-1V2c0-.551.449-1%201-1h16m0-1H2C.895%200%200%20.895%200%202v16c0%201.105.895%202%202%202h16c1.105%200%202-.895%202-2V2c0-1.105-.895-2-2-2z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
  @include no-select;
}

input[type=text].vjs-share-time {
  margin: 0 0 0 10px;
  padding: 0;
  width: 72px;
  height: 28px;
  font-size: 14px;
  font-family: $exo2;
  font-weight: 300;
  color: $color-white;
  text-align: center;
  border: solid 1px $color-lt-gray;
  background: $color-off-black;
  position: relative;
  z-index: 2;
  &.error {
    border: solid 1px $color-red;
    background: darken($color-red, 20%);
  }
}

.vjs-share-time-warning {
  margin-top: 5px;
  font-size: 13px !important;
  font-family: $exo2;
  font-weight: 400;
}

.vjs-share-overlay-exit {
  width:26px !important;
  height: 26px !important;
  top: 55px;
  right:20px;
  @include icon('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2226%22%20height%3D%2226%22%20viewBox%3D%220%200%2026%2026%22%3E%3Ccircle%20fill%3D%22%234B4A4B%22%20cx%3D%2213%22%20cy%3D%2213%22%20r%3D%2213%22%2F%3E%3Cpath%20fill%3D%22%23C4C2C2%22%20d%3D%22M14.112%2013l5.729-5.729c.307-.307.307-.805%200-1.112-.307-.307-.805-.307-1.112%200L13%2011.888l-5.729-5.73c-.307-.307-.805-.307-1.112%200-.307.307-.307.805%200%201.112L11.888%2013l-5.729%205.729c-.307.307-.307.805%200%201.112.154.154.355.23.556.23.201%200%20.403-.077.556-.23L13%2014.112l5.729%205.729c.154.154.355.23.556.23.201%200%20.403-.077.556-.23.307-.307.307-.805%200-1.112L14.112%2013z%22%2F%3E%3C%2Fsvg%3E');
  @include transition(all 0.5s ease-in-out !important);
  position: absolute !important;
  pointer-events: all;
  z-index: 2;
  &:hover {
    @include icon('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2226%22%20height%3D%2226%22%20viewBox%3D%220%200%2026%2026%22%3E%3Ccircle%20fill%3D%22%2318a7df%22%20cx%3D%2213%22%20cy%3D%2213%22%20r%3D%2213%22%2F%3E%3Cpath%20fill%3D%22%23C4C2C2%22%20d%3D%22M14.112%2013l5.729-5.729c.307-.307.307-.805%200-1.112-.307-.307-.805-.307-1.112%200L13%2011.888l-5.729-5.73c-.307-.307-.805-.307-1.112%200-.307.307-.307.805%200%201.112L11.888%2013l-5.729%205.729c-.307.307-.307.805%200%201.112.154.154.355.23.556.23.201%200%20.403-.077.556-.23L13%2014.112l5.729%205.729c.154.154.355.23.556.23.201%200%20.403-.077.556-.23.307-.307.307-.805%200-1.112L14.112%2013z%22%2F%3E%3C%2Fsvg%3E');
    cursor: pointer;
  }
}

.vjs-share-icons-container {
  margin: 20px auto 0;
  padding: 0;
  width: 90px;
}
.vjs-share-icons-twitter {
  margin-right: 10px;
  width: 40px;
  height: 40px;
  @include icon('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%220%200%2040%2040%22%3E%3Cpath%20fill%3D%22%2327A6DE%22%20d%3D%22M0%200h40v40H0z%22%2F%3E%3Cpath%20fill%3D%22%23FFF%22%20d%3D%22M29%2015.385c.009.198.013.399.013.6%200%206.138-4.669%2013.212-13.213%2013.212-2.621%200-5.063-.769-7.118-2.085.363.043.733.064%201.108.064%202.174%200%204.178-.742%205.767-1.988-2.033-.036-3.747-1.379-4.337-3.223.283.055.574.082.873.082.425%200%20.834-.055%201.224-.164-2.125-.425-3.726-2.302-3.726-4.553v-.057c.628.346%201.345.557%202.104.58-1.245-.834-2.065-2.256-2.065-3.865%200-.851.228-1.648.628-2.336%202.293%202.811%205.714%204.658%209.572%204.852-.08-.34-.12-.693-.12-1.058%200-2.564%202.079-4.643%204.643-4.643%201.336%200%202.544.564%203.389%201.466%201.06-.207%202.053-.593%202.95-1.125-.345%201.084-1.081%201.993-2.042%202.568.939-.112%201.834-.362%202.667-.731-.62.93-1.409%201.748-2.317%202.404z%22%2F%3E%3C%2Fsvg%3E');
  float: left;
  cursor: pointer;
}

.vjs-share-icons-facebook {
  width: 40px;
  height: 40px;
  @include icon('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%220%200%2040%2040%22%3E%3Cpath%20fill%3D%22%233C5A99%22%20d%3D%22M0%200h40v40H0z%22%2F%3E%3Cpath%20fill%3D%22%23FFF%22%20d%3D%22M27.599%2040V24.51h5.2l.778-6.037h-5.978v-3.854c0-1.748.485-2.939%202.992-2.939l3.197-.001v-5.4c-.553-.073-2.451-.238-4.658-.238-4.609%200-7.764%202.813-7.764%207.98v4.452h-5.213v6.037h5.213V40h6.233z%22%2F%3E%3C%2Fsvg%3E');
  float: left;
  cursor: pointer;
}

@media only screen and (min-width: 400px) and (max-width: 599px) {
  .vjs-share-elements-container {
    width: 75%;
  }
  .vjs-share-url, .vjs-share-url-back {
    font-size: 18px !important;
  }
  .vjs-share-overlay-exit {
    top: 15px;
    right: 15px;
  }
  .vjs-share-label {
    margin: 0 0 5px 0;
  }
}

@media only screen and  (max-width: 399px) {
  .vjs-share-elements-container {
    width: 85%;
  }
  .vjs-share-url, .vjs-share-url-back {
    font-size: 14px !important;
  }
  .vjs-share-overlay-exit {
    top: 10px;
    right: 10px;
  }
  .vjs-share-label {
    margin: 10px 0 0 0;
  }
  .vjs-share-icons-container {
    margin: 5px auto 0;
  }
}
