// Status Tags

.video-js .vjs-status-tags {
  opacity: 1;
  width: 100%;
  height: 50%;
  top: 0;
  left: 0;
  position: absolute;
  @include gradient(rgba($color-black, 0.5), transparent);
  @include transition(all 1s ease-in-out);
  pointer-events: none;
}


// Status Tag primary styles placeholders
%tag {
  margin: 0;
  padding: 10px 8px 10px 15px;
  position: absolute;
  top: 10px;
  left: 0px;
  font-family: $exo2;
  font-weight: 300;
  font-size: 15px;
  text-transform: uppercase;
  text-align: center;
  color: $tag-status-label;
  @include border-radius(0 0 3px 0px);
  cursor: none;
}

%tag-tail {
  content:"";
  position:absolute;
  top:0;
  right: -18px;
  width: 0;
  height: 0;
  border-bottom: 34px solid transparent;
  border-left: 19px solid;
}

@media only screen and (min-width: 400px) and (max-width: 499px) {
  %tag {
    padding: 8px 6px 8px 12px;
    font-size: 13px;
  }
  %tag-tail {
    right: -16px;
    border-bottom: 28px solid transparent;
    border-left: 17px solid;
  }
}

@media only screen and (max-width: 399px) {
  %tag {
    padding: 6px 4px 6px 10px;
    font-size: 11px;
  }
  %tag-tail {
    right: -14px;
    border-bottom: 22px solid transparent;
    border-left: 15px solid;
  }
}

// Begin Status Tag Builds
.status-tag {
  &-live {
    @extend %tag;
    background: $tag-status-live;
    &:before {
      @extend %tag-tail;
      border-left-color: $tag-status-live;
    }
  }
  &-video {
    @extend %tag;
    background: $color-azubu-blue;
    &:before {
      @extend %tag-tail;
      border-left-color: $color-azubu-blue;
    }
  }
  &-rebroadcast {
    @extend %tag;
    background: $tag-status-rebroadcast;
    &:before {
      @extend %tag-tail;
      border-left-color: $tag-status-rebroadcast;
    }
  }
  &-offline {
    @extend %tag;
    background: $tag-status-offline;
    &:before {
      @extend %tag-tail;
      border-left-color: $tag-status-offline;
    }
  }
  &-disconnected {
    @extend %tag;
    background: $tag-status-disconnected;
    &:before {
      @extend %tag-tail;
      border-left-color: $tag-status-disconnected;
    }
  }
  &-reconnecting {
    @extend %tag;
    background: $tag-status-reconnecting;
    &:before {
      @extend %tag-tail;
      border-left-color: $tag-status-reconnecting;
    }
  }
  &-reconnected {
    @extend %tag;
    background: $tag-status-reconnected;
    &:before {
      @extend %tag-tail;
      border-left-color: $tag-status-reconnected;
    }
  }
}

.not-hover .vjs-status-tags,
.vjs-paused .vjs-status-tags,
.video-js.vjs-has-started.vjs-paused.vjs-user-active .vjs-status-tags {
  opacity: 0;
  @include transition-delay(3.5s !important);
}

.video-js.vjs-has-started.vjs-playing.vjs-user-inactive .vjs-status-tags {
  opacity: 0;
  @include transition-delay(.1s !important);
}

.vjs-controls-disabled .vjs-status-tags,
.vjs-error .vjs-status-tags,
.vjs-using-native-controls .vjs-status-tags {
  display: none !important
}
