// Volume Controls
.vjs-icon-volume-high:before, .video-js .vjs-mute-control:before, .video-js .vjs-volume-menu-button:before {
  content: ' ';
  background: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2220%22%20viewBox%3D%220%200%2024%2020%22%3E%3Cg%20fill%3D%22%23666%22%3E%3Cpath%20d%3D%22M10.365%2017.906V2.099L5.422%206.667H0v6.666h5.422M13.286%2015.193c1.068-1.453%201.708-3.245%201.708-5.193%200-1.948-.641-3.74-1.708-5.193l-1.062.797c.906%201.229%201.448%202.745%201.448%204.396%200%201.646-.542%203.167-1.448%204.391l1.062.802zM16.755%2017.589c1.562-2.12%202.5-4.745%202.5-7.589%200-2.844-.938-5.464-2.5-7.589l-1.063.797c1.401%201.896%202.24%204.245%202.24%206.792%200%202.547-.839%204.891-2.24%206.786l1.063.803z%22%2F%3E%3Cpath%20d%3D%22M18.995.802C20.891%203.37%2022.01%206.557%2022.01%2010c0%203.443-1.12%206.625-3.016%209.198l1.069.802c2.052-2.792%203.271-6.25%203.271-10s-1.219-7.208-3.271-10l-1.068.802z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  background-position: center;
  @include transition(all 0.5s ease-in-out !important);
}

.vjs-icon-volume-high:hover:before, .video-js .vjs-mute-control:hover:before, .video-js .vjs-volume-menu-button:hover:before {
  background: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2220%22%20viewBox%3D%220%200%2024%2020%22%3E%3Cg%20fill%3D%22%23c4c2c2%22%3E%3Cpath%20d%3D%22M10.365%2017.906V2.099L5.422%206.667H0v6.666h5.422M13.286%2015.193c1.068-1.453%201.708-3.245%201.708-5.193%200-1.948-.641-3.74-1.708-5.193l-1.062.797c.906%201.229%201.448%202.745%201.448%204.396%200%201.646-.542%203.167-1.448%204.391l1.062.802zM16.755%2017.589c1.562-2.12%202.5-4.745%202.5-7.589%200-2.844-.938-5.464-2.5-7.589l-1.063.797c1.401%201.896%202.24%204.245%202.24%206.792%200%202.547-.839%204.891-2.24%206.786l1.063.803z%22%2F%3E%3Cpath%20d%3D%22M18.995.802C20.891%203.37%2022.01%206.557%2022.01%2010c0%203.443-1.12%206.625-3.016%209.198l1.069.802c2.052-2.792%203.271-6.25%203.271-10s-1.219-7.208-3.271-10l-1.068.802z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  background-position: center;
}

.vjs-icon-volume-high:active:before, .video-js .vjs-mute-control:active:before, .video-js .vjs-volume-menu-button:active:before {
  background: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2220%22%20viewBox%3D%220%200%2024%2020%22%3E%3Cg%20fill%3D%22%2318a7df%22%3E%3Cpath%20d%3D%22M10.365%2017.906V2.099L5.422%206.667H0v6.666h5.422M13.286%2015.193c1.068-1.453%201.708-3.245%201.708-5.193%200-1.948-.641-3.74-1.708-5.193l-1.062.797c.906%201.229%201.448%202.745%201.448%204.396%200%201.646-.542%203.167-1.448%204.391l1.062.802zM16.755%2017.589c1.562-2.12%202.5-4.745%202.5-7.589%200-2.844-.938-5.464-2.5-7.589l-1.063.797c1.401%201.896%202.24%204.245%202.24%206.792%200%202.547-.839%204.891-2.24%206.786l1.063.803z%22%2F%3E%3Cpath%20d%3D%22M18.995.802C20.891%203.37%2022.01%206.557%2022.01%2010c0%203.443-1.12%206.625-3.016%209.198l1.069.802c2.052-2.792%203.271-6.25%203.271-10s-1.219-7.208-3.271-10l-1.068.802z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  background-position: center;
}

.vjs-icon-volume-mid:before, .video-js .vjs-mute-control.vjs-vol-2:before, .video-js .vjs-volume-menu-button.vjs-vol-2:before {
  content: ' ';
  background: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2220%22%20viewBox%3D%220%200%2024%2020%22%3E%3Cpath%20fill%3D%22%23666%22%20d%3D%22M10.365%2017.906V2.099L5.422%206.667H0v6.666h5.422M13.286%2015.193c1.068-1.453%201.708-3.245%201.708-5.193%200-1.948-.641-3.74-1.708-5.193l-1.062.797c.906%201.229%201.448%202.745%201.448%204.396%200%201.646-.542%203.167-1.448%204.391l1.062.802zM16.755%2017.589c1.562-2.12%202.5-4.745%202.5-7.589%200-2.844-.938-5.464-2.5-7.589l-1.063.797c1.401%201.896%202.24%204.245%202.24%206.792%200%202.547-.839%204.891-2.24%206.786l1.063.803z%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  background-position: center;
  @include transition(all 0.5s ease-in-out !important);
}

.vjs-icon-volume-mid:hover:before, .video-js .vjs-mute-control.vjs-vol-2:hover:before, .video-js .vjs-volume-menu-button.vjs-vol-2:hover:before {
  background: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2220%22%20viewBox%3D%220%200%2024%2020%22%3E%3Cpath%20fill%3D%22%23c4c2c2%22%20d%3D%22M10.365%2017.906V2.099L5.422%206.667H0v6.666h5.422M13.286%2015.193c1.068-1.453%201.708-3.245%201.708-5.193%200-1.948-.641-3.74-1.708-5.193l-1.062.797c.906%201.229%201.448%202.745%201.448%204.396%200%201.646-.542%203.167-1.448%204.391l1.062.802zM16.755%2017.589c1.562-2.12%202.5-4.745%202.5-7.589%200-2.844-.938-5.464-2.5-7.589l-1.063.797c1.401%201.896%202.24%204.245%202.24%206.792%200%202.547-.839%204.891-2.24%206.786l1.063.803z%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  background-position: center;
}

.vjs-icon-volume-mid:active:before, .video-js .vjs-mute-control.vjs-vol-2:active:before, .video-js .vjs-volume-menu-button.vjs-vol-2:active:before {
  background: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2220%22%20viewBox%3D%220%200%2024%2020%22%3E%3Cpath%20fill%3D%22%2318a7df%22%20d%3D%22M10.365%2017.906V2.099L5.422%206.667H0v6.666h5.422M13.286%2015.193c1.068-1.453%201.708-3.245%201.708-5.193%200-1.948-.641-3.74-1.708-5.193l-1.062.797c.906%201.229%201.448%202.745%201.448%204.396%200%201.646-.542%203.167-1.448%204.391l1.062.802zM16.755%2017.589c1.562-2.12%202.5-4.745%202.5-7.589%200-2.844-.938-5.464-2.5-7.589l-1.063.797c1.401%201.896%202.24%204.245%202.24%206.792%200%202.547-.839%204.891-2.24%206.786l1.063.803z%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  background-position: center;
}

.vjs-icon-volume-low:before, .video-js .vjs-mute-control.vjs-vol-1:before, .video-js .vjs-volume-menu-button.vjs-vol-1:before {
  content: ' ';
  background: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2220%22%20viewBox%3D%220%200%2024%2020%22%3E%3Cpath%20fill%3D%22%23666%22%20d%3D%22M10.365%2017.906V2.099L5.422%206.667H0v6.666h5.422M13.286%2015.193c1.068-1.453%201.708-3.245%201.708-5.193%200-1.948-.641-3.74-1.708-5.193l-1.062.797c.906%201.229%201.448%202.745%201.448%204.396%200%201.646-.542%203.167-1.448%204.391l1.062.802z%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  background-position: center;
  @include transition(all 0.5s ease-in-out !important);
}

.vjs-icon-volume-low:hover:before, .video-js .vjs-mute-control.vjs-vol-1:hover:before, .video-js .vjs-volume-menu-button.vjs-vol-1:hover:before {
  background: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2220%22%20viewBox%3D%220%200%2024%2020%22%3E%3Cpath%20fill%3D%22%23c4c2c2%22%20d%3D%22M10.365%2017.906V2.099L5.422%206.667H0v6.666h5.422M13.286%2015.193c1.068-1.453%201.708-3.245%201.708-5.193%200-1.948-.641-3.74-1.708-5.193l-1.062.797c.906%201.229%201.448%202.745%201.448%204.396%200%201.646-.542%203.167-1.448%204.391l1.062.802z%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  background-position: center;
}

.vjs-icon-volume-low:active:before, .video-js .vjs-mute-control.vjs-vol-1:active:before, .video-js .vjs-volume-menu-button.vjs-vol-1:active:before {
  background: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2220%22%20viewBox%3D%220%200%2024%2020%22%3E%3Cpath%20fill%3D%22%2318a7df%22%20d%3D%22M10.365%2017.906V2.099L5.422%206.667H0v6.666h5.422M13.286%2015.193c1.068-1.453%201.708-3.245%201.708-5.193%200-1.948-.641-3.74-1.708-5.193l-1.062.797c.906%201.229%201.448%202.745%201.448%204.396%200%201.646-.542%203.167-1.448%204.391l1.062.802z%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  background-position: center;
}

.vjs-icon-volume-mute:before, .video-js .vjs-mute-control.vjs-vol-0:before, .video-js .vjs-volume-menu-button.vjs-vol-0:before {
  content: ' ';
  background: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2220%22%20viewBox%3D%220%200%2024%2020%22%3E%3Cpath%20fill%3D%22%23666%22%20d%3D%22M10.365%2017.906V2.099L5.422%206.667H0v6.666h5.422M18.937%2012.966l-.44.444c-.064.065-.138.097-.22.097s-.156-.032-.22-.097l-2.422-2.443-2.422%202.443c-.064.065-.138.097-.22.097-.083%200-.156-.032-.22-.097l-.44-.444c-.064-.065-.096-.139-.096-.222%200-.083.032-.157.096-.222l2.422-2.443-2.422-2.443c-.064-.065-.096-.139-.096-.222s.032-.157.096-.222l.44-.444c.064-.065.138-.097.22-.097.083%200%20.156.032.22.097l2.422%202.443%202.422-2.443c.064-.065.138-.097.22-.097s.156.032.22.097l.44.444c.064.065.096.139.096.222s-.032.157-.096.222l-2.422%202.443%202.422%202.443c.064.065.096.139.096.222.001.084-.031.157-.096.222z%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  background-position: center;
  @include transition(all 0.5s ease-in-out !important);
}

.vjs-icon-volume-mute:hover:before, .video-js .vjs-mute-control.vjs-vol-0:hover:before, .video-js .vjs-volume-menu-button.vjs-vol-0:hover:before {
  background: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2220%22%20viewBox%3D%220%200%2024%2020%22%3E%3Cpath%20fill%3D%22%23c4c2c2%22%20d%3D%22M10.365%2017.906V2.099L5.422%206.667H0v6.666h5.422M18.937%2012.966l-.44.444c-.064.065-.138.097-.22.097s-.156-.032-.22-.097l-2.422-2.443-2.422%202.443c-.064.065-.138.097-.22.097-.083%200-.156-.032-.22-.097l-.44-.444c-.064-.065-.096-.139-.096-.222%200-.083.032-.157.096-.222l2.422-2.443-2.422-2.443c-.064-.065-.096-.139-.096-.222s.032-.157.096-.222l.44-.444c.064-.065.138-.097.22-.097.083%200%20.156.032.22.097l2.422%202.443%202.422-2.443c.064-.065.138-.097.22-.097s.156.032.22.097l.44.444c.064.065.096.139.096.222s-.032.157-.096.222l-2.422%202.443%202.422%202.443c.064.065.096.139.096.222.001.084-.031.157-.096.222z%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  background-position: center;
}

.vjs-icon-volume-mute:active:before, .video-js .vjs-mute-control.vjs-vol-0:active:before, .video-js .vjs-volume-menu-button.vjs-vol-0:active:before {
  background: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2220%22%20viewBox%3D%220%200%2024%2020%22%3E%3Cpath%20fill%3D%22%2318a7df%22%20d%3D%22M10.365%2017.906V2.099L5.422%206.667H0v6.666h5.422M18.937%2012.966l-.44.444c-.064.065-.138.097-.22.097s-.156-.032-.22-.097l-2.422-2.443-2.422%202.443c-.064.065-.138.097-.22.097-.083%200-.156-.032-.22-.097l-.44-.444c-.064-.065-.096-.139-.096-.222%200-.083.032-.157.096-.222l2.422-2.443-2.422-2.443c-.064-.065-.096-.139-.096-.222s.032-.157.096-.222l.44-.444c.064-.065.138-.097.22-.097.083%200%20.156.032.22.097l2.422%202.443%202.422-2.443c.064-.065.138-.097.22-.097s.156.032.22.097l.44.444c.064.065.096.139.096.222s-.032.157-.096.222l-2.422%202.443%202.422%202.443c.064.065.096.139.096.222.001.084-.031.157-.096.222z%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  background-position: center;
}

.video-js .vjs-volume-menu-button:before {
  cursor: pointer;
  position: relative;
  z-index: 1;
}

// Volume Bar
.video-js .vjs-volume-level:before {
  position: absolute;
  top: -3px;
  right: -2px;
  content: '';
  width: 4px;
  height: 10px;
  background: $color-med-gray;
  display: block !important;
  @include transition(all 0.5s ease-in-out !important);
}

.video-js .vjs-volume-level:hover:before,
.video-js .vjs-volume-menu-button:hover .vjs-volume-level:before {
  background: $color-off-white;
}

.video-js .vjs-volume-bar {
  margin: 20px 0 0 0 !important;
  background: $color-frame-gray;
  width: 100px !important;
  visibility: visible;
  @include transition(all 0.25s ease-in-out !important);
}

.video-js .vjs-volume-level {
  background-color: $color-azubu-blue-dark !important;
  height: 4px;
  @include transition(background-color 0.5s ease-in-out !important);
}

.video-js .vjs-volume-level:hover,
.video-js .vjs-volume-menu-button:hover .vjs-volume-level {
  background-color: $color-azubu-blue !important;
}

.video-js .vjs-volume-menu-button:hover {
  cursor: default;
}

.vjs-volume-bar.vjs-slider.vjs-slider-horizontal,
.not-hover.vjs-volume-bar.vjs-slider-horizontal .vjs-lock-showing .vjs-user-active {
  margin-left: 27px !important;
  width: 10em;
  height: 4px;
  display: flex;
  position: absolute;
}

.vjs-menu-button-inline .vjs-menu {
  opacity: 1 !important;
  width: 100%;
  left: 20px !important;
}

.video-js .vjs-menu-button-inline:before {
  width: 26px !important;
  margin: 0 0 0 9px;
  padding: 0;
}

.video-js .vjs-menu-button-inline,
.video-js .vjs-menu-button-inline:hover {
  width: 165px !important;
  display: flex;
  border-right: 1px solid $color-frame-gray;
}

@media only screen and (max-width: 399px) {
  .video-js .vjs-volume-bar {
    width: 25px !important;
  }
  .vjs-volume-bar.vjs-slider.vjs-slider-horizontal,
  .not-hover.vjs-volume-bar.vjs-slider-horizontal .vjs-lock-showing .vjs-user-active {
    width: 2.5em;
  }
  .video-js .vjs-menu-button-inline,
  .video-js .vjs-menu-button-inline:hover {
    width: 90px !important;
  }
}
